*{
	margin:0;
	padding: 0;
}
html,body{
	height: 100%;
	/* border: 1px solid red; */
}
img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	margin:auto;
	
}
.denlu{
	width:13%;
	height:50px;
	background-color: #d5445a;
	position:relative;
	left:60%;
	top: 350px;
	text-align: center;
}
.denlu span{
	font-size: 24px;
	font-weight:bold;
	color: white;
	font-family: "微软雅黑";

}

.kuang{
	width:22%;
	/*height: 400px;*/
	height: 65%;
	/* border: 1px solid red; */
	background-color: #fff;
	position: relative;

	left: 68%;
	opacity: 0.8;
	margin-top: 8%;
	z-index: 2;
	border-radius: 10px;
}
.shang{
	/* background-color: red; */
	background-color: #070933;
	width: 100%;
	height: 18%;
	opacity: 1;
	border-radius: 10px 10px 0 0;
}
.shang img{
	width: 25%;
	height: 100%;
	position: relative;
	
	top:0;
	display: inline;
}
.xiaoxu{
	position: relative;
	bottom:100%;
	left:35%;
	
	
	font-weight: bold;
	color: #e1edde;
	font-family: sans-serif;
	font-size: 18px;

	line-height:80px;
}
.zhanghao{
	color: #43221b;
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
}
.zhanghao input{
	height: 20px;
	width: 60%;
}
.mima{
	color: #43221b;
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
}
.mima input{
	height: 20px;
	width: 60%;
}



.blue { 
	color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-top: 10px;
    margin-left:45px;
}
.blue1{
	color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-top: 80px;
    margin-left:20px;

}
.zhifang img{
	width: 50%;
	height:60%;	
	margin-left: 5%;
}
.zhixian{
	width: 1px;
	height: 65%;
	background-color: white;
	opacity: 0.7;
	position: absolute;
	left:60%;
	top:15%;
}

