@charset "utf-8";
/* CSS Document */
.tp {
	background-color: #E6F3FF;
	width: 200px;
	padding: 5px;
	border: 1px solid #21A5F3;
	margin: 0px;
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
	border-radius: 5px;
	height: 40px;
	background-position: center center;
}