body{
	margin: 0;
	padding:0;
	min-width: 1000px;
}

header{
	border-bottom: 1px;
	box-shadow: 0px 2px 2px black;
	height: 100px;
}

header a{
	width: 170px;
	height: 100px; 
	float: left;
}
header a img{
	width: 170px;
	height: 100px; 
}
header ul{
	list-style: none;
	padding-right: 36px;
	height: 25px;
	padding-top:75px;
}

header ul li a{
	float: right;	
	display: block;
	text-decoration: none;
	width: 120px;
	font-size: 20px;
	height: 25px;
	margin-right: 20px;
	text-align: center;
	background: -webkit-linear-gradient(bottom, #fff, #330);
	border-radius: 7px 7px 7px 7px;
	color: white;
}

header ul li a:hover{
	height: 36px;
	color: orange;
	margin-top: -7px;
	line-height: 36px;
	background: -webkit-linear-gradient(bottom, #fff, #033);
}
.style{
	width: 96%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #CCC;
	margin-top: 10px;
	box-shadow: 2px 3px 3px #CCC;
}
img{
	width: 200px;
	height: 50px;
}
.table{
	width: 98%;
	border: 1px double #CCC;
	margin: 0 auto;
}
.table td{
	border: 1px double #CCC;
}
.table .table-head{
	background: purple;
	color: white;
	font-weight: bold;
}
.tip{
	color: red;
	font-weight: bold;
}
button{
	background: gray;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	width: 300px;
	height: 35px;
	box-shadow: 2px 3px 3px gray;
	border-radius: 8px 8px 8px 8px;
}
footer{
	background: gray;
	height: 60px;
	width: 100%;
}
footer p{
	font-size: 22px;
	text-align: center;
	padding: 20px 20px 20px 20px;
}
textarea{
	resize: none;
}
.tip1{
	color: gray;
	padding-left: 130px;
}