header a img{
	width: 170px;
	height: 100px;
}
#left{
	float: left;
	height: 100px;
}
body{
	background-color: #CCC;
	margin: 0px;
	padding: 0px;
}
header{
	height: 100px;
	background: -webkit-linear-gradient(right, #330, #fff);
	position: fixed;
	border-bottom: 1px;
	top: 0px;
	width: 100%;/*不知道为什么用了这行代码显示就正常了*/
}
header div ul{
	height: 25px;
	list-style: none;
	padding-top: 55px;
}
header div ul li a{
	text-decoration: none;
	font-size: 20px;
	height: 25px;
	width: 120px
	text-align: center;
	background: -webkit-linear-gradient(left, #fff, #330);
	float: right;
	margin-right: 15px;
	border-radius: 7px 7px 7px 7px;
	color: white;
}
header div ul li a:hover{
	height: 30px;
	color: yellow;
	background: -webkit-linear-gradient(top,#fff,#033);
	margin-top: -7px;
}
.one{
	margin: 0 auto;
	border: 1px double #999;
	background-color: white;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: 5px 3px 3px #999;
}
.one img{
	width: 300px;
	height: 250px;
}
article{
	background: #fff;
	margin-bottom: 20px;
	margin-right: 450px;
	margin-top: 140px;
	margin-left: 40px;
}
textarea{
	resize: none;
}
.aside{
	background: #fff;
	float: right;
	width: 350px;
	margin-top: 0px;
	margin-right: 20px;
	padding: 20px;
	box-shadow: 5px 5px 3px #848484;
}
.table{
	width: 98%;
	border: double #CCC;
	margin: 0px auto;
}
.table1{
	background: #666;
	color: white;
	font-weight: bolder;
}
caption{
	font-size: 30px;
	font-weight: bold;
}
.table2{
	background: #ccc;
}
footer{
	background: #000;
	height: 50px;
	width: 100%;

}
footer p{
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
button{
	background: #ccc;
	width: 100%;
	border-radius: 8px;
	height: 30px;
	margin-left: 15px;
	font-size: 15px;
	font-weight: bold;
}