<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model实例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-model实例</h1>
<hr>
<div id="app">
    <p>原始文本信息：{{msg}}</p>
    <br>
    <p>v-model<input type="text" v-model.lazy="msg"></p>
    <p>v-model.lazy<input type="text" v-model.lazy="msg"></p>
    <p>v-model.number<input type="text" v-model.number="msg"></p>
    <p>v-model.trim<input type="text" v-model.trim="msg"></p>
    <div>
        <h3>多选框绑定值</h3>
        <input type="checkbox" id="check" v-model="isTrue">
        <label for="check">{{isTrue}}</label>
    </div>
    <div>
        <input type="checkbox" id="one" value="one" v-model="name">
        <label for="one">one</label>
        <input type="checkbox" id="two" value="two" v-model="name">
        <label for="two">two</label>
        <input type="checkbox" id="three" value="three" v-model="name">
        <label for="three">three</label>
        <p>{{name}}</p>
        多用在表单里面
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el:'#app',
        data:{
            msg:'hello world!',
            isTrue:true,
            name:[]
        }
    })
</script>
</body>
</html>