*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 600px;
    height: 400px;
    border: 3px solid #333;
    overflow: hidden;
    margin: 0 auto;
}
.slider{
    position: absolute;
    z-index: 1;
    width: 3600px;
    height: 400px;
}
.slider img{
    float: left;
}
.buttons{
    position: absolute;
    left: 250px;
    bottom: 20px;
    z-index: 2;
    height: 10px;
    width: 80px;
}
.buttons span{
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
}
.buttons .on{
    background-color: yellow;
}
.leftArrow,.rightArrow{
    position: absolute;
    top: 180px;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}
.container:hover .leftArrow{
    display: block;
}
.container:hover .rightArrow{
    display: block;
}
.leftArrow{
    left: 20px;
}
.rightArrow{
    right: 20px;
}