*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
/*header部分*/
header{
	background: #ffffff;
	height: 56px;
}
.newworld{
	float: left;
	font-size: 20px;
	height: 56px;
}
.newworld img{
	margin-top: 10px;
	padding-bottom: 15px;
	margin-left: 55px;
	vertical-align: middle;
}
.login{
	float: right;
	margin-left: 30px;
	position: relative;
}
.login_bottom{
	position: absolute;  
	top: 40px;
	left: 20px;
	width: 0px;
	border-top: 2px solid #ea6f6e;
	transition: width .2s;
	-webkit-transition:width .2s;
	}
.login a:hover~ .login_bottom{
	width: 55px;
}
.login a{
	color: #ec7775;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	height: 56px;
	line-height: 56px;
	margin: 0px 30px 0px 10px;
}
.login img{
	vertical-align: middle;
}
.nav_list{
	float: right;
	list-style: none;
	position: relative;
}
.nav_list li{
	float: left;
	width: 110px;
	height: 56px;
	font-size: 16px;
	text-align: center;
}
.nav_list a{
	color: #8e9197;
	text-decoration: none;
	height: 56px;
	width: 100%;
	line-height: 56px;
}
.list_bottom{
	height: 52px;
	width: 110px;
	position: absolute;
	left: 0px;
	top: 52px;
	border-top: 4px solid #ea6f6e;
	transition: left .2s;
	-webkit-transition: left .2s;
}
.nav_list li:nth-child(1):hover~ .list_bottom{
	left: 0px;	
}

.nav_list li:nth-child(2):hover~ .list_bottom{
	left: 110px;	
}

.nav_list li:nth-child(3):hover~ .list_bottom{
	left: 220px;	
}

.nav_list li:nth-child(4):hover~ .list_bottom{
	left: 330px;	
}

.nav_list li:nth-child(5):hover~ .list_bottom{
	left: 440px;	
}
/*part one*/
.part_one_main{
	color: #ffffff;
	font-size: 21px;
}

/* 这里专门用于写轮播图的css */
.part_one_img{
	height: 690px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.part_one_img .slider{
	width: 600%;
	height: 690px;
	position: absolute;
	z-index: 1;
}
.part_one_img .slider img{
	width: calc(100%/6);
	height: 100%;
	float: left;
}
.part_one_img .buttons{
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 2;
	height: 10px;
	width: 80px;
}
.part_one_img .buttons span{
	float: left;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #333;
	cursor: pointer;
}
.part_one_img .buttons .on{
	background-color: yellow;
}
.leftArrow,.rightArrow{
	position: absolute;
	top: 50%;
	z-index: 2;
	display: none;
	width: 40px;
	height: 40px;
	font-size: 36px;
	font-weight: bold;
	line-height: 39px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .3);
	cursor: pointer;
}
.part_one_img:hover .leftArrow{
	display: block;
}
.part_one_img:hover .rightArrow{
	display: block;
}
.leftArrow{
    left: 20px;
}
.rightArrow{
    right: 20px;
}


/* css轮播图截止 */
.part_one_text{
	/* padding: 220px 0px 0px 120px; */
	z-index: 2;
	position: absolute;
	top: 220px;
	left: 120px;
}
.part_one_text h1{
	font-size: 60px;
	font-weight: 400;
}
.part_one_text p{
	line-height: 30px;
	padding: 10px;
}
.part_one_text a{
	text-align: center;
	display: inline-block;
	text-decoration: none;
	background: #e74f4d;
	height: 60px;
	width: 230px;
	line-height: 56px;
	font-size: 32px;
	color: #ffffff;	
	letter-spacing: 3px;
	margin:10px;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}
.part_one_text a:hover{
	background: #ffffff;
	color: #ff0000;
}
/*part two*/
.part_two{
	height: 250px;
}
.logo_one{
	width: 24.5%;
	height: 170px;
	display: inline-block;
	text-align: center;
}
.logo_one img{
	display: block;
	margin: 40px auto;
}
.logo_one_text{
	text-align: center;
	font-size: 14px;
	color: #8d8d8d;
	width: 100%;
	height: 50px;
	cursor: pointer;
	transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	border-right: 1px solid #8d8d8d;
}
.logo_one_text:hover{
	color: #e74f4d;
}
.logo_one:last-child .logo_one_text{
	border: none;
}
/*part three*/
.part_three{
	height: 360px;
	background: #ededec;
	position: relative;
}
.part_three_main{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -420px;
}
.part_three_main img{
	margin: 5px;
	padding-left: 353px;
}
.part_three_main p{
	color: #a1a1a1;
	font-size: 50px;
	letter-spacing: 5px;
}
/*part four*/
.part_four{
	height: 340px;
	background: url(image/map.png);
	background-size: cover;
	color: #ffffff;
	text-align: center;
	background-repeat: no-repeat;
}
.p_one{
	cursor: pointer;
	font-size: 23px;
	padding: 40px 0 0 0;
	margin-bottom: 10px;
}
.part_four span{
	color: #ffffff;
	display: inline-block;
	width: 30px;
	height: 20px;
	border-top: 2px solid #ffffff;
	transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
}
.part_four .p_one:hover~ span{
    width: 255px;
}
.p_two{
	font-size: 16px;
	margin-bottom: 20px;
}
.part_four form{
	margin-top: 50px;
}
.part_four select{
	color: #b5b7b7;
	width: 234px;
	height: 36px;
	padding-left: 5px;
	margin-left: 30px;
}
.part_four option{
	height: 36px;
	background: #e3e2e0;
	color: #a8a7a9;
}
.part_four input{
	width: 234px;
	height: 36px;
	background: #be4e48;
	border: none;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	letter-spacing: 20px;
	font-weight: 700px;
	margin-left: 30px;
	cursor: pointer;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}
.part_four input:hover{
	background-color: #ef716b;
}
/*part five*/
.part_five{
	background: #f7f7f7;
	height: 605px;
	position: relative;
}
.part_five_main{
	height: 400px;
	width: 988px;
	position:absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}
.part_five_text{
	display: inline-block;
	text-align: center;
	padding-right: 36px;
}
.part_five_text:last-child{
	padding-right: 0px;
}
.part_five_text img{
	border: 1px solid #e1e1e1;
	background: #ffffff;
	padding: 10px 5px;
}
.part_five_title{
	font-size: 14px;
	font-weight: bold;
	color: #323333;
	margin: 5px 0px;
}
.part_five_txt{
	font-size: 12px;
	color: #9f9f9f;
	margin: 5px 0px;
}
.part_five_shanghai{
	font-size: 19px;
	letter-spacing: 38px;
	margin-right: -37px;
	font-weight: bold;
	color: #323333;
}
/*part six*/
.part_six{
	height: 566px;
}
.part_six .left{
	background: url(image/time.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	height: 566px;
	display: inline-block;
	width: 66.6%;
	position: relative;
}
.part_six .title{
	position: relative;
	color: #ffffff;
	top: 150px;
	left: -16px;
	text-align: center;
	margin: 0px;
}
.part_six .p1{
	font-size: 47px;
}
.part_six .p2{
	font-size: 160px;
	margin-top: -40px;
}
.part_six .p3{
	font-size: 21px;
}
.triangle{
	position: absolute;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-right: 30px solid #ffffff;
	right: 0px;
	top: 50%;
}
.part_six .right{
	height: 566px;
	text-align: center;
	width: 33.4%;
	float: right;
}
.part_six header{
	font-size: 22px;
	padding-top: 157px;
}
.part_six header span{
	color: #e74f4d;
}
.part_six article p{
	width: 380px;
	line-height: 25px;
	font-size: 14px;
	text-align: left;
	margin: 10px auto;
	color: #aaaaa9;
	padding-bottom: 30px;
}
.part_six a{
	text-decoration: none;
	border: 1px solid #e74f4d;
	color: #e74f4d;
	padding: 10px 30px;
	transition: all 0.2s ease-in;
	-webkit-transition: all .2s ease-in;
}
.part_six a:hover{
	color: #ffffff;
	background: #e74f4d;
}
.part_six .circle img{
	display: inline-block;
	margin-top: 35px;
}
/*part seven*/
.part_seven{
	height: 520px;
	margin: 0px;
	padding: 0px;
}
.part_seven .left{
	text-align: center;
	float: left;
	width: 33.3%;
	height: 520px;
	background: #e74f4d;
}
.part_seven a{
	padding: 10px 30px;
	text-decoration: none;
	transition: all 0.2s ease-in;
	-webkit-transition: all .2s ease-in;
}
.part_seven_left_text{
	font-size: 19px;
	color: #ffffff;
	cursor: pointer;
	margin-top: 169px;
	line-height: 30px;
}
.part_seven span{
	display: inline-block;
	width: 30px;
	height: 20px;
	transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
	margin: 20px;
}
.part_seven .left span{
	border-top: 2px solid #ffffff;	
}
.part_seven :hover~ span{
	width: 160px;
}
.part_seven .left a{
	font-size: 20px;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.part_seven .left a:hover{
	color: #e74f4d;
	background: #ffffff;
}
.part_seven .center{
	text-align: center;
	float: left;
	width: 33.3%;
	height: 520px;
	color: #e74f4d;
	background: #ffffff;
}
.part_seven_center_text{
	font-size: 19px;
	cursor: pointer;
	line-height: 30px;
	margin-top: 169px;
}
.part_seven .center span{
	border-top: 2px solid #abaaaa;
}
.part_seven .center a{
	font-size: 20px;
	color: #e74f4d;
	border: 1px solid #e74f4d;
}
.part_seven .center a:hover{
	color: #ffffff;
	background: #e74f4d;
}
.part_seven .right{
	float: right;
	width: 33.4%;
	height: 520px;
	background: url(image/wait.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.part_seven .right .r_triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 30px solid #FFFFFF;
	position: relative;
	left: 0;
	top: 50%;
	margin-top: -18px;
}
/*part eight*/
.part_eight{
	height: 680px;
	text-align: center;
}
.part_eight_top{
	height: 270px;
}
.part_eight_top h2{
	font-size: 20px;
	padding-top: 111px;
}
.part_eight_top span{
	display: inline-block;
	margin-top: 10px;
	width: 30px;
	height: 10px;
	border-top: 2px solid #e74f4d;
	transition: width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out;
}
.part_eight_top h2:hover~ span{
	width: 150px;
}
.part_eight_top p{
	color: #b7b7b7;
	font-size: 12px;
}
.part_eight_form{
	text-align: left;
	display: table;
}
.part_eight_form .left{
	width: 40%;
	font-size: 14px;
	color: #bcbbba;
	display: table-cell;
}
.part_eight_td{
	margin: 0px 75px 40px 135px;
}
.part_eight_td h3{
	font-size: 16px;
	color: #807c7c;
	margin-bottom: 15px;
}
.part_eight_td a{
	float: right;
	text-decoration: none;
	color: #bcbbba;
}
.part_eight_form .right{
	width: 100%;
}
.part_eight_form .input{
	width: 41%;
	height: 50px;
	background: #ededee;
	border: none;
	box-sizing: border-box;
	margin-bottom: 13px;
	margin-right: 17px;
}
.part_eight_form textarea{
	resize: none;
	width: 84.5%;
	background: #ededee;
	height: 120px;
	border: none;
	margin-bottom: 13px;
}
.submit{
	font-size: 18px;
	color: #000000;
	width: 84.5%;
	height: 50px;
	background: #ededee;
	border: none;
	box-sizing: border-box;
}
/*part nine*/
.part_nine{
	height: 430px;
	text-align: center;
	background: #32353e;
	color: #ffffff;
}
.part_nine h3{
	font-size: 25px;
	font-family: "宋体";
	padding-top: 86px;
	padding-bottom: 9px;
}
.part_nine p:nth-child(2){
	font-size: 13px;
}
.part_nine p{
	padding-bottom: 25px;
}
.part_nine .input{
	width: 30%;
	font-size: 18px;
	height: 45px;
	border: none;
	margin-right: -8px;
	padding-left: 10px;
}
.part_nine .submit{
	background: #6f7178;
	color: #ffffff;
	border: none;
	width: 90px;
	height: 45px;
	letter-spacing: 10px;
	margin-bottom: 50px;
}
.part_nine>a{
	margin-right: 20px;
}
footer{
	background: #303039;
	height: 55px;
	width: 100%;
	font-size: 14px;
	position: relative;
	bottom: -60px;
}
footer span{
	float: left;
	padding: 20px 0px 0px 120px;
}
footer a{
	text-decoration: none;
	float: right;
	color: #ffffff;
	padding: 20px 50px 0px 0px;
}