*{
	padding: 0px;
	margin: 0px;
}
.main{
	width: 100%;
	position: relative;
}
.main .title{
	color: #fff;
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	top: 50px;
	left: 200px;
}
.main .header .nav{
	width: 605px;
	background-color: #fff;
	position: absolute;
	top: 50px;
	right: 170px;
}
.main .header .nav ul{
	list-style: none;
	position: relative;
}
.main .header .nav ol{
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #000;
}
.main .header .nav ol:hover{
	border-bottom: 3px solid #ffc001;
	color: #ffc001;
}
.main .header .nav .first{
	border-bottom: 3px solid #ffc001;
	color: #ffc001;
}
.main .header .nav .line{
	width: 1px;
    display: inline-block;
    height: 15px;
    margin-top: 17px;
    background-color: #dbdbdb;
    position: absolute;
}
.main .header .nav .rightArr{
	width: 15px;
	height: 31px;
	background: url(../images/mbg.png) -62px -1281px no-repeat;
	position: absolute;
	right: 1px;
	top: 9px;
}
.main .lamp{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.main .more{
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.main .more a{
	display: block;
	width: 164px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	border: 1px solid #fff;
	text-align: center;
	border-radius: 10px;
}
.main .category{
	width: 100%;
	height: 460px;
}
.main .category .class1{
	padding: 80px 0 0 0;
	width: 1200px;
	margin: 0 auto;
}
.main .category .class1 .block{
	float: left;
	width: 25%;
	position: relative;
}
.main .category .class1 .block .blockImg{
	position: absolute;
	left: 45%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.main .category .class1 .block span{
	position: absolute;
	left: 45%;
	top: 75%;
	transform: translate(-50%,-50%);
	color: rgb(51,51,51);
	font-size: 16px;
}
.main .content{
	width: 100%;
	height: 2800px;
	background: url(../images/bg.jpg) no-repeat center;
}
.main .content .about{
	width: 1200px;
	height: 650px;
	margin: 0 auto;
	position: relative;
}
.main .content .about .aboutImg{
	position: absolute;
	top: 150px;
	left: 18px;
	display: none;
}
.main .content .about .aboutText{
	display: none;
	position: absolute;
	top: 150px;
	left: 690px;
	color: #fff;
	width: 460px;
	height: 380px;
}
.main .content .about .aboutText span{
	position: absolute;
	top: 30px;
	font-size: 30px;
	font-weight: bold;
}
.main .content .about .aboutText .detail{
	position: absolute;
	font-size: 15px;
	line-height: 31px;
	top: 120px;
}
.main .content .case{
	width: 1200px;
	height: 1500px;
	margin: 0 auto;
	position: relative;
}
.main .content .case .one{
	height: 348px;
	display: none;
}
.main .content .case .one img{
	float: right;
}
.main .content .case .one .ml{
	margin-left: 15px;
}
.main .content .case .two{
	height: 383px;
	display: none;
}
.main .content .case .two img{
	float: right;
}
.main .content .case .two .ml{
	margin-left: 15px;
}
.main .content .contact{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	color: #fff;

}
.main .content .contact span{
	font-size: 36px;
	position: absolute;
	left: 700px;
	top: 140px;
	display: none;
}
.main .content .contact .conDetail{
	width: 300px;
	position: absolute;
	line-height: 32px;
	font-size: 16px;
	left: 700px;
	top: 240px;
	display: none;
}
.main .content .contact .conBtn{
	width: 172px;
	height: 52px;
	line-height: 52px;
	position: absolute;
	left: 700px;
	top: 410px;
	background-color: #fff;
	text-align: center;
	display: none;
}
.main .content .contact .conBtn a{
	text-decoration: none;
	color: rgb(255,192,1);
	font-size: 16px;
}
.main .brand{
	width: 1200px;
	height: 1140px;
	margin: 0 auto;
	position: relative;
	padding: 200px 0 0 0;
	background: url(../images/16.jpg) no-repeat center;
}
.main .brand .b1{
	position: absolute;
	top: 455px;
	left: 61px;
	width: 297px;
	height: 269px;
}
.main .brand .b1 .Btitle{
	text-align: center;
	font-size: 24px;
	color: rgb(255,192,1);
	display: none;
}
.main .brand .b1 .Bdetail{
	margin-top: 20px;
	font-size: 16px;
	line-height: 36px;
	color: rgb(153,153,153);
	display: none;
}
.main .brand .b1 .Bcon{
	width: 179px;
	height: 54px;
	text-align: center;
	color: #999;
	line-height: 54px;
	margin: 0 auto;
	border: 1px solid #999;
	margin-top: 50px;
	display: none;
}
.main .brand .b1 .Bcon a{
	color: #999;
	font-size: 16px;
	text-decoration: none;
}

.main .brand .b2{
	position: absolute;
	top: 455px;
	left: 454px;
	width: 297px;
	height: 269px;
}
.main .brand .b2 .Btitle{
	text-align: center;
	font-size: 24px;
	color: #fff;
	display: none;
}
.main .brand .b2 .Bdetail{
	margin-top: 20px;
	font-size: 16px;
	line-height: 36px;
	color: #fff;
	display: none;
}
.main .brand .b2 .Bcon{
	width: 179px;
	height: 54px;
	text-align: center;
	color: #999;
	line-height: 54px;
	margin: 0 auto;
	border: 1px solid #fff;
	margin-top: 84px;
	display: none;
}
.main .brand .b2 .Bcon a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.main .brand .b3{
	position: absolute;
	top: 455px;
	left: 856px;
	width: 297px;
	height: 269px;
}
.main .brand .b3 .Btitle{
	text-align: center;
	font-size: 24px;
	color: rgb(255,192,1);
	display: none;
}
.main .brand .b3 .Bdetail{
	margin-top: 20px;
	font-size: 16px;
	line-height: 36px;
	color: rgb(153,153,153);
	display: none;	
}
.main .brand .b3 .Bcon{
	width: 179px;
	height: 54px;
	text-align: center;
	color: #999;
	line-height: 54px;
	margin: 0 auto;
	border: 1px solid #999;
	margin-top: 84px;
	display: none;
}
.main .brand .b3 .Bcon a{
	color: #999;
	font-size: 16px;
	text-decoration: none;
}
.main .concept{
	background: rgb(252,192,46) url(../images/17.jpg) no-repeat right;
	height: 638px;
}
.main .concept .idea{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.main .concept .idea span{
	position: absolute;
	top: 123px;
	left: 21px;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	display: none;
}
.main .concept .idea .ideaD{
	width: 430px;
	position: absolute;
	top: 255px;
	left: 21px;
	color: #fff;
	font-size: 18px;
	line-height: 38px;
	display: none;
}
.main .concept .idea .ideaCon{
	width: 186px;
	height: 54px;
	border: 1px solid #fff;
	line-height: 54px;
	text-align: center;
	position: absolute;
	left: 21px;
	top: 431px;
	display: none;
}
.main .concept .idea .ideaCon a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.footer{
	width: 100%;
	height: 352px;
	background-color: #202020;
}
.footer .FB{
	width: 1200px;
	margin: 0 auto;
}
.footer .FB .list{
	padding-top: 50px;
}
.footer .FB .list ul{
	list-style: none;
	width: 550px;
	height: 40px;
	line-height: 40px;
}
.footer .FB .list ul ol{
	float: left;
	width: 20%;
}
.footer .FB .list ul ol a{
	text-decoration: none;
	color: rgb(121,129,138);
	font-size: 16px;
}
.footer .FB .tel{
	font-size: 30px;
	font-weight: bold;
	color: rgb(121,129,138);
	height: 100px;
	line-height: 100px;
}
.footer .FB .other .workT{
	font-size: 15px;
	color: rgb(121,129,138);
}
.footer .FB .other .bei{
	font-size: 14px;
	color: rgb(121,129,138);
}
.back{
	position: fixed;
	right: 50px;
	bottom: 50px;
	cursor: pointer;
}