<!--
 * @Author: zzj
 * @Date: 2021-06-02 21:31:14
 * @LastEditors: zzj
 * @LastEditTime: 2021-06-06 14:26:42
 * @Description: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user</title>
  <link rel="stylesheet" type="text/css" href="assets/css/user.css" />
</head>

<body>
  <% include user-header.html %>
    user page
    <br />

    <button onclick="login()">登录</button>
    <button onclick="logout()">注销</button>
    <br />

    id:<%= id%>
      <br />
      <%# 注释%>

        <% if(user){ %>
          已经登录：<%= user.name %>
            <% }else{ %>
              未登录
              <% } %>
                <br />
                <ul id="user">
                  <% for(let i=0;i<lists.length;i++){ %>
                    <li>
                      <%= lists[i]%>
                    </li>
                    <% } %>
                </ul>
                <img src="assets/img/xiaowu.jpeg" alt="xiaowu">
                <script src="assets/js/user.js"></script>
</body>

</html>