*{
	padding: 0px;
	margin: 0px;
}
header{
	height: 75px;
	line-height: 75px;
	border-bottom: 1px solid #9A9A9A;
	box-shadow: #9A9A9A 5px 5px 50px;
	background-color: rgba(247, 247, 247, 1.0);
	position: relative;
}
header .logo{
	height: 75px;
	float: left;
	margin-left: 50px;
}
header .logo img{
	height: 75px;
	width: 80%;
}
header .theme{
	text-align: center;
	line-height: 75px;
	font-size: 21px;
	color: #3c3c3c;
	position: absolute;
	left: 50%;
	font-weight: bold;
}
header .zhuxiao{
	float: right;
	width: 40px;
	height: 25px;
	line-height: 25px;
	margin-top: 45px;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #9a9a9a;
	border-radius: 5px;
}
header .zhuxiao a{
	color: #000;
	text-decoration: none;
}
header .pcenter{
	float: right;
	width: 75px;
	height: 25px;
	line-height: 25px;
	margin-top: 45px;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #01A0EA;
	border-radius: 5px;
	background-color: #01a0ea;
	color: #fff;
}
header .pcenter a{
	color: #fff;
	text-decoration: none;
}
.banner{
	width: 100%;
	position: relative;
	margin-top: 50px;
	height: 150px;
}
.banner .pic1{
	position: absolute;
	width: 25%;
	height: 150px;
	line-height: 150px;
	left: 0%;
	text-align: center;
}
.banner .pic1 span{
	width: 142px;
	height: 142px;
	position: relative;
}
.banner .pic1 .icon-zg-index-collection1{
	font-size: 80px;
	margin-left: -117px;
	bottom: 30%;
	color: #5d5151;
}
.banner .pic1 .icon-zg-index-collection1:hover{
	color: #33CCFF;
}
.banner .pic2{
	position: absolute;
	width: 25%;
	left: 25%;
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.banner .pic2 span{
	width: 142px;
	height: 142px;
	position: relative;
}
.banner .pic2 .icon-zg-index-user1-cur{
	font-size: 80px;
	margin-left: -117px;
	bottom: 30%;
	color: #33CCFF;
}
.banner .pic3{
	position: absolute;
	width: 25%;
	left: 50%;
	height: 150px;
	line-height: 150px;
	text-align: center;
	color: #5d5151;
}
.banner .pic3 span{
	width: 142px;
	height: 142px;
	position: relative;
}
.banner .pic3 .icon-zg-index-scene1-cur{
	font-size: 80px;
	margin-left: -117px;
	bottom: 30%;
	color: #5d5151;
}
.banner .pic3 .icon-zg-index-scene1-cur:hover{
	color: #33CCFF;
}
.banner .pic4{
	position: absolute;
	width: 25%;
	left: 75%;
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.banner .pic4 span{
	width: 142px;
	height: 142px;
	position: relative;
}
.banner .pic4 .icon-zg-index-platform1-cur{
	font-size: 80px;
	margin-left: -117px;
	bottom: 30%;
	color: #5d5151;
}
.banner .pic4 .icon-zg-index-platform1-cur:hover{
	color: #33CCFF;
}
.title{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.title .titleStyle{
	width: 25%;
	text-align: center;
	float: left;
	font-size: 18px;
}
.title .titleStyle a{
	color: #000;
	text-decoration: none;
}
.title .titleStyle a:hover{
	color: #5d5151;
}
.data{
	height: 650px;
	background-color: #f1faff;
	position: relative;
}
.data .left{
	float: left;
	width: 70%;
	/* border-right: 1px solid red; */
}
.data .left .zhifang img{
	height: 650px;
	width: 100%;
}
.data .left .shanxing{
	display: none;
}
.data .left .shanxing img{
	height: 650px;
	width: 100%;
}
.data .right{
	float: left;
	margin-left: 80px;
	margin-top: 90px;
}
.data .right .stu{
	height: 420px;
	width: 20em;
	border: 3px solid #1d1f273b;
	overflow: auto;
	font-size: 15px;
	margin-bottom: 20px;
}
.data .right .stu p{
	height: 25px;
	line-height: 25px;
	padding-left: 15px;
	cursor: pointer;
}

/* 美化滚动条 */
::-webkit-scrollbar {  
  width: 14px;  
  height: 14px;  
}  
  
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 999px;  
  border: 5px solid transparent;  
}  
  
::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-corner {  
  background: transparent;  
}  
/* 美化滚动条 */

.data .right .stu .p1{
	background-color: #9eaeb1c2;
	color: #EF2365;
}
.data .right .stu .p1:hover{
	color: #000;
}
.data .right .stu .p2{
	background-color: #EDEDED;
	color: #000;
}
.data .right .stu .p2:hover{
	color: #68CFE8;
}
.data .right .button1{
	float: left;
}
.data .right .button2{
	float: right;
}
.data .right .button{
	width: 75px;
	height: 25px;
	line-height: 25px;
	/* margin-top: 45px; */
	margin-right: 10px;
	text-align: center;
	border: 1px solid #01A0EA;
	border-radius: 5px;
	background-color: #01a0ea;
	color: #fff;
}
.data .right .button a{
	color: #fff;
	text-decoration: none;
}
footer{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	background-color: #EEF0F3;
	color: #A5A7A8;
	padding-top: 10px;
}
footer p{
	text-align: center;
	color: #999;
}