*{
	padding: 0px;
	margin: 0px;
}

.container{
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	padding: 15px;
	margin-bottom: 110px;
}

.container h3{
	text-align: center;
}

#man{
	margin-right: 10px;
}

#repeat{
	margin-top: 10px;
	display: none;
}

footer{
	background-color: #101010;
	text-align: center;
	font-size: 16px;
	padding: 15px 0;
	color: #fff;
}