<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆</title>
</head>
<body>

<h1>请登陆</h1>
<form action="/checklogin" method="get" accept-charset="utf-8">
    <label>用户名：</label>
    <input type="text" name="username">
    <br>
    <label>密码：</label>
    <input type="text" name="password">
    <br>
    <input type="submit" name="">
</form>

</body>
</html>
