*{
	padding: 0px;
	margin: 0px;
}

.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #fff;
}

.loading .pic{
	width: 60px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
}

.loading .pic i{
	display: block;
	float: left;
	width: 9px;
	height: 75px;
	background-color: #399;
	margin: 0 3px;
	transform: scaleY(0.4);
	animation: load 1.2s infinite;
}

.loading .pic i:nth-child(2){animation-delay: 0.1s;}
.loading .pic i:nth-child(3){animation-delay: 0.2s;}
.loading .pic i:nth-child(4){animation-delay: 0.3s;}
.loading .pic i:nth-child(5){animation-delay: 0.4s;}

@keyframes load{
	0%,40%,100%{
		transform: scaleY(0.4);
	}
	20%{
		transform: scaleY(1);
	}
}

header{
	width: 100%;
	height: 54px;
	position: fixed;
	top: 0px;
	background-color: #71ba51;
	z-index: 2;
}

header .search{
	float: right;
}

.logo{
	float: left;
}

header .logo img{
	height: 54px;
	margin-left: 50px;
}

header form{
	float: left;
	margin: 10px 40px;
}

header .search a{
	text-decoration: none;
	height: 34px;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 7px 15px;
	margin-right: 20px;
	font-size: 15px;
	color: #fff;
}
header .fudong{
	float: left;
	font-size: 15px;
	height: 54px;
	line-height: 54px;
	margin-right: 20px;
	color: #fff;
}

.main{
	margin-bottom: 40px;
	margin-top: 54px;
	background-color: #f4f4f4;
}

.people-home-bg{
	width: 100%;
	height: 344px;
	margin: 0 auto;
	background-color: #000;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	background: url('../images/32.png');
}

.people-home-bg .peoplebg{
	width: 100%;
}

.people-home-bg .bg-image{
	margin: 0 auto;
}

.people-home-bg .data-wraper{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.data-wrap-box{
	width: 1130px;
	margin: 0 auto;
	padding: 0 16px 23px;
	box-sizing: border-box;
}

.data-wraper .data-wrap-box .data-list-box{
	width: 220px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	position: relative;
	text-align: center;
}

.data-wraper .data-wrap-box a{
	text-decoration: none;
}

.data-wraper .data-wrap-box a:hover{
	color: #fff;
}

.data-number{
	color: #fff;
	font-size: 24px;
	display: block;
	margin-top: 14px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.home-information-wrap{
	background-color: #fff;
}

.home-information-box{
	margin: 0 auto;
	padding-bottom: 35px;
	position: relative;
}

.information-headimg-box{
	width: 140px;
	height: 140px;
	border: 4px solid #fff;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -64px;
	top: -65px;
	overflow: hidden;
	border-radius: 50%;
}

.information-headimg-box img{
	width: 130px;
	height: 130px;
}

.information-content-wrap{
	padding-top: 60px;
}

.people-nick-name{
	margin-top: 20px;
	font-size: 24px;
	color: #444;
}

.user-background{
	margin-top: 10px;
	font-size: 12px;
	color: #bbb;
}

.subnav-content-wrap{
	width: 100%;
	min-height: 56px;
	background-color: #fff;
}

.subnav-content-wrap .subnav-wrap{
	box-sizing: border-box;
}

.subnav-wrap .top-hull{
	width: 100%;
	border-bottom: 1px solid #eee;
	position: relative;
}

.subnav-contentbox{
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.subnav-wrap .subnav-contentbox .subnav-content{
	margin-bottom: -1px;
	font-size: 16px;
	color: #999;
}

.subnav-contentbox .subnav-content>li{
	padding: 0 30px;
	line-height: 16px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	position: relative;
}

.subnav-contentbox .subnav-content>li>a{
	padding: 19px 0;
	display: block;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	font-size: 16px;
	color: #8a8a8a;
}

.subnav-contentbox .subnav-content>li>a:hover{
	color: #000;
	border-bottom: 2px solid #444;
}

.contariner-wraper{
	width: 100%;
	position: relative;
}

.center-section-wrap{
	width: 900px;
	margin: 20px auto 0;
	background-color: #fff;
	border-radius: 4px;
}

.datum-item-box{
	padding: 30px 0;
	border-bottom: 1px solid #eee;
}

.datum-title-box{
	height: 28px;
	padding: 0 30px;
	color: #444;
}

.datum-title-box a{
	text-decoration: none;
	color: #fff;
}

.btn-small{
	width: 76px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	box-sizing: border-box;
}

.btn-default-main{
	background-color: #07b168;
	border: 1px solid #07b168;
	border-radius: 4px;
}

.table-wrap {
    width: 100%;
    padding-top: 5px;
    margin-bottom: -15px;
    overflow: hidden;
}

.datum-table {
    width: 100%;
    line-height: 1;
    font-size: 14px;
}

.datum-table th {
    width: 84px;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    color: #bbbbbb;
    font-weight: normal;
    vertical-align: top;
}

.datum-table td {
    padding: 10px 0;
    color: #666666;
    vertical-align: top;
}

.height1{
	height: 617px;
	padding: 10px 0;
}

.height2{
	height: 759px;
	padding: 10px 0;
}

footer{
	padding-top: 45px;
	text-align: center;
	color: #fff;
	background-color: #07b168;
	font-size: 14px;
	line-height: 30px;
	padding-bottom: 35px;
}

.chat-box{
	list-style: none;
}

.chat-img{
	padding: 10px 30px 10px 30px;
}

.chat-img img{
	width: 50px;
	height: 50px;
}