*{
	padding: 0px;
	margin: 0px;
}

.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #fff;
}

.loading .pic{
	width: 60px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
}

.loading .pic i{
	display: block;
	float: left;
	width: 9px;
	height: 75px;
	background-color: #399;
	margin: 0 3px;
	transform: scaleY(0.4);
	animation: load 1.2s infinite;
}

.loading .pic i:nth-child(2){animation-delay: 0.1s;}
.loading .pic i:nth-child(3){animation-delay: 0.2s;}
.loading .pic i:nth-child(4){animation-delay: 0.3s;}
.loading .pic i:nth-child(5){animation-delay: 0.4s;}

@keyframes load{
	0%,40%,100%{
		transform: scaleY(0.4);
	}
	20%{
		transform: scaleY(1);
	}
}

.mark1{
	display: none;
	background-color: #000;
	opacity: 0.9;
	position: fixed;
	z-index: 9997;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.form1{
	display: none;
	width: 450px;
	margin: 0 auto;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	padding: 20px;
	transform: translate(-50% , -50%);
	border: 1px solid #fff;
	border-radius: 8px;
	z-index: 9999;
}

.form1 .toubu{
	height: 50px;
	line-height: 50px;
	background: linear-gradient(#2ee24a,#00b16a);
	opacity: 0.8;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 15px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.form1 .mar1{
	margin: 0 20px;
}

.form1 .mar2{
	margin: 0 20px;
}

.form1 .confirm{
	position: relative;
	padding: 10px 0;
}

.form1 .confirm input{
	width: 260px;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form1 .confirm img{
	width: 72px;
	height: 27px;
	border: 1px solid #C3BBBB;
	position: absolute;
	right: 10px;
	top: 15px;
}

header{
	background-color: #71ba51;
}

header .container{
	background-color: #71ba51;
	height: 100px;
}

header .container .wrap{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 5px 0 5px;
	line-height: 50px;
	/*height: 81px;*/
	float: left;
	width: 100%;
}

header .container .wrap .logo{
	padding: 4px 0 0;
}

header .container .wrap .logo a{
	text-decoration: none;
}

header .container .wrap .logo img{
	display: inline-block;
	width: 150px;
}

header .container .wrap .logo span{
	display: inline-block;
	transform: scale(1, 2);
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 2px;
	position: relative;
	top: 4px;
	left: 8px;
}

header .container .wrap .txt{
	float: right;
}

header .container .wrap .txt ul{
	padding: 14px 0 0 0;
	margin: 0;
	list-style: none;
	font-size: 16px;
	font-weight: 600;
}

header .container .wrap .txt ul li{
	float: left;
	height: 34px;
	line-height: 34px;
}


header .container .wrap .txt ul li:first-child a{
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	padding: 0 25px 10px 15px;
	text-decoration: none;
}

header .container .wrap .txt ul li:last-child a{
	text-decoration: none;
}

header .container .wrap .txt .login{
	color: #333;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	display: inline-block;
	margin-left: 20px;
	min-width: 100px;
	background-color: #f8b81e;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	position: relative;
	top: -5px;
}

header .container1{
	clear: both;
	height: 590px;
	background: linear-gradient(#71ba51,#00b16a);
	text-align: center;
	color: #fff;
	width: 100%;
}

header .container1 .character{
	position: relative;
}

header .container1 .character h1{
	font-size: 50px;
	padding-top: 1%;
}

header .container1 .character p{
	font-size: 18px;
	margin: 0 0 20px;
}

header .container1 .character p:last-child a{
	text-decoration: none;
}

header .container1 .character .join{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	font-size: 13px;
	border-radius: 3px;
	font-weight: 700;
	padding: 15px 40px;
	min-width: 162px;
	max-width: 100%;
}

header .container1 .character .join:hover{
	background-color: #fff;
	transition: background-color .5s;
	color: #71ba51;
	border: 1px solid #fff;
}

header .container1 .slider{
	position: relative;
	height: 410px;
	width: 100%;
	background: url(../images/slider.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 4;
}

header .container1 .slider .mobile-screen{
	position: absolute;
	z-index: 999;
	/* width: 432px; */
	margin-left: -395px;
	margin-top: 126px;
	left: 50%;
}

.app{
	position: absolute;
	animation: round 16s infinite;
	opacity: 0;
	/* z-index: -1; */
}

@keyframes round{
	25%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
}

.mobile-screen img:nth-child(1){
	animation-delay: 12s;
}

.mobile-screen img:nth-child(2){
	animation-delay: 8s;
}

.mobile-screen img:nth-child(3){
	animation-delay: 4s;
}

.mobile-screen img:nth-child(4){
	animation-delay: 0s;
}

header .container1 .slider .laptop-screen{
	position: absolute;
	z-index: 999;
	left: 50%;
	margin-left: -222px;
	margin-top: 27px;
}

.laptop-screen img:nth-child(1){
	animation-delay: 12s;
}

.laptop-screen img:nth-child(2){
	animation-delay: 8s;
}

.laptop-screen img:nth-child(3){
	animation-delay: 4s;
}

.laptop-screen img:nth-child(4){
	animation-delay: 0s;
}

.content{
	width: 100%;
	background-color: #fff;
	position: relative;
}

.content .theme{
	padding-top: 100px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}

.content .theme .txt{
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 45px;
	width: 100%;
}

.content .theme .txt .first{
	padding-bottom: 7px;
	font-size: 26px;
	font-weight: 600;
}


.content .theme .txt p{
	color: #666;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.content .choose{
	margin: 0 auto;
}

.content .Cleft{
	width: 100%;
	height: 56px;
	width: 1155px;
	margin: 0 auto;
}

.content .activity1{
	width: 1155px;
	margin: 0 auto;
}

.content .Cleft .title{
	float: left;
	color: #999;
}

.content .Cleft .filter-wrap{
	float: left;
	margin-left: 30px;
	display: inline-block;
}

.content .Cleft .filter-wrap .filter-selected{
	height: 40px;
	line-height: 40px;
	text-align: right;
}

@media screen and (max-width: 1600px) {
	.screening-condition,
	.condition-result-type {
		width: 1130px; }
	.show-other-model-box .model-list-box {
		height: 210px;
    	overflow: hidden; }
    .show-other-model-box .model-list-box ul li {
		width: 210px; } 
}

@media screen and (min-width: 1601px) {
	.screening-condition,
	.condition-result-type {
		width: 1380px; }
	.show-other-model-box .model-list-box {
		height: 260px;
    	overflow: hidden; }
	.show-other-model-box .model-list-box ul li {
      width: 260px; } 
}

.card-box{
	float: left;
	position: relative;
	background-color: #fff;
	border-radius: 4px;
	margin: 0 20px 20px 0;
}

.card-box .card-img{
	position: relative;
	border-radius: 4px 4px 0 0;
}

.card-box .card-img a:hover{
	opacity: 0.8;
}

.card-box .card-img a img{
	width: 260px;
	height: 195px;
}

.card-box .card-info{
	border-bottom: 1px solid #eee;
	padding: 11px 16px 13px;
	height: 75px;
	position: relative;
}

.card-box .card-info .card-info-title{
	margin-bottom: 1px;
	position: relative;
	line-height: 20px;
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card-box .card-info .card-info-title a{
	display: inline-block;
	float: left;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
	text-decoration: none;
	width: 204px;
}

.hightlight{
	color: #01b16a;
}

.card-box .card-info .card-info-title span{
	margin-left: 6px;
	color: #f4523b;
}

.card-info-time{
	font-size: 12px;
	color: #bbb;
	margin-bottom: 17px;
	height: 18px;
}

.card-item{
	height: 50px;
	line-height: 50px;
	padding: 0 16px;
	position: relative;
}

.card-item span{
	color: #282828;
	font-size: 12px;
}

.card-item .detail{
	float: right;
}

.card-item .detail a{
	text-decoration: none;
	color: #71ba51;
}

.content .page{
	clear: both;
	width: 255px;
	margin: 0 auto;
	position: relative;
}

.content .page .pagination li a{
	color: #00b16a;
}

.content .page .active a{
	background-color: #00b16a;
	border: 1px solid #00b16a;
}

.clear{
	clear: both;
}

footer{
	padding-top: 45px;
	text-align: center;
	color: #fff;
	background-color: #07b168;
	font-size: 14px;
	line-height: 30px;
	padding-bottom: 35px;
}

.back-to-top{
	text-align: center;
	background: #000;
	color: #fff;
	width: 40px;
	height: 40px;
	position: fixed;
	font-size: 12px;
	line-height: 40px;
	left: 20px;
	bottom: 20px;
	opacity: 0.4;
	cursor: pointer;
	z-index: 999;
}

.back-to-top:hover{
	opacity: 1;
}