@import "reset";

$baseFontSize: 17px;
$redColor: #d43d3d;
$assetsDir: './assets';

@mixin sectionStyle {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin hotLabel($color){
  font-size: 14px;
  color: $color;
  border: 1px solid $color;
}

.header {
  height: 45px;
  background-color: $redColor;

  .title_logo {
    width: 100px;
    height: 100%;
    margin: 0 auto;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
      image: url($assetsDir + "/wap_logo@3x_581de69e.png");
    };
  }
}

.top_bar {
  background-color: #f4f5f6;
  height: 34px;
  overflow-x: auto;
  overflow-y: hidden;

  .top_menu_list {
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    display: inline-block;
  }

  .btn {
    padding: 8px;
    display: inline-block;
    font-size: $baseFontSize;

    &.cur {
      color: $redColor;
    }
  }
}

.content_list {
  .section_item {
    @include sectionStyle;

    .title {
      font-size: 20px;
    }

    .item_info_base {
      color: #999;
      font-size: 14px;
    }

    .item_info {
      @extend .item_info_base;
      margin-top: 11px;
    }

    .stick_label {
      @include hotLabel($redColor);
    }
    .src{
      @extend .item_info_base;
    }
  }
}