<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>初识vue</title>
</head>
<body>
	<div id="box">
		<ul>
			<!-- vue2.0与vue1.0中使用index不同 -->
			<li v-for="(value,index) in arr">{{value}} {{index}}</li>
			<!-- {{value}}中的value是一个变量，同value in arr中的value -->
		</ul>
		<hr>
		<ul>
			<li v-for="(item,key) in json">{{item}} {{key}}</li>
		</ul>
	</div>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	window.onload = function(){
		var c = new Vue({
			//放的是选择器
			el:'#box',
			data:{
				arr:['apple','banana','orange','pear'],
				json:{a:'apple',b:'banana',c:'orange'}
			}
		});
	}
</script>
</body>
</html>