<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单数据自动收集</title>
</head>
<body>
<div id="app">
    <form action="" @submit.prevent="handleSubmit">
        <div>
            用户名：<input type="text" v-model="username">
        </div>
        <div>
            密码：<input type="password" v-model="pwd">
        </div>
        <div>
            性别：<input type="radio" id="female" value="女" v-model="gender">女 <input type="radio" value="男" id="male" v-model="gender">男
        </div>
        <div>
            爱好：<input type="checkbox" id="basket" v-model="likes" value="basket">篮球 <input type="checkbox" id="foot" v-model="likes" value="foot">足球 <input type="checkbox" id="pingpang" v-model="likes" value="pingpang">乒乓
        </div>
        <div>城市：
            <select name="" id="city" v-model="cityId">
                <option value="">未选择</option>
                <option :value="city.id" v-for="(city,index) in allCitys" :key="index">{{city.name}}</option>
            </select>
        </div>
        <div>
            简介：<textarea name="" id="intro" cols="30" rows="10" v-model="intro"></textarea>
        </div>
        <div>
            <input type="submit" value="注册">
        </div>
    </form>
</div>
<script src="vue.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            username: '',
            pwd: '',
            gender: '女',
            likes: ['foot'],
            allCitys: [
                {id:1,name:'BJ'},
                {id:2,name:'SH'},
                {id:3,name:'SZ'}
                ],
            cityId: 3,
            intro: '请输入简介'
        },
        methods: {
            handleSubmit(){
                console.log(this.username,this.pwd,this.gender,this.likes,this.cityId,this.intro)
            }
        }
    })
</script>
</body>
</html>