body{
	padding: 0px;
	font-size: 10pt;
	behavior: url(csshover.htc);
}
.topmenu{
	display: block;
	width: 220px;
	border: 2px solid #e4393c;
	margin: 0px;
	padding: 0px;
}
.toptitle{
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	color: white;
	background: #e4393c;
	padding-left: 20px;
}
.topmenu li{
	height: 30px;
	line-height: 30px;
	font-size: 11pt;
	list-style-type: none;
	text-align: left;
	padding-left: 8px;
	z-index: 3;
	background-image: url('images/1.png');
	background-repeat: no-repeat;
	background-position: right;
}
.topmenu li a{
	text-decoration: none;
	color: #313131;
}
.topmenu li a:hover{
	text-decoration: underline;
	font-weight: bold;
	color: #e4393c;
}
.topmenu li:hover{
	border: 1px solid #ddd;
	border-right: 0;
	box-shadow: 0 0 8px #ddd;
	-moz-box-shadow: 0 0 8px #ddd;
	-webkit-box-shadow: 0 0 8px #ddd;
	background-image: none;
}
.submenu{
	display: none;
	width: 715px;
	left: 220px;
	position: absolute;
	top: 50px;
	left: 229.5px;
	border: 1px solid #ddd;
	z-index: 4;
	background: white;
	box-shadow: 0 0 8px #ddd;
	-moz-box-shadow: 0 0 8px #ddd;
	-webkit-box-shadow: 0 0 8px #ddd;
}
.leftdiv{
	float: left;
	width: 490px;
	margin: 5px;
}
.rightdiv{
	float: right;
	width: 200px;
	margin: 5px;
}
.topmenu li:hover .submenu{
	display: block;
}
.topmenu li:hover span{
	background: white;
	display: inline-block;
	z-index: 20;
	width: 20px;
	height: 30px;
	float: right;
	position: relative;
}
.leftdiv dl{
	display: block;
	border-bottom: 1px solid #eee;
	padding-bottom: 6px;
	overflow: hidden;
}
.leftdiv dl dt{
	display: block;
	float: left;
	width: 60px;
	text-align: right;
	height: 22px;
	line-height: 22px;
	padding-right: 6px;
}
.leftdiv dl dt a{
	color: #e4393c;
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;
}
.leftdiv dl dd{
	display: block;
	overflow: hidden;
}
.leftdiv dl dd a{
	display: block;
	float: left;
	border-left: 1px solid #ccc;
	color: #737373;
	font-size: 9pt;
	padding: 0 8px;
	height: 14px;
	line-height: 14px;
	margin: 4px 0;
}
.rightdiv dl dd{
	margin: 3px 0;
}
.rightdiv dl dt{
	color: #e4393c;
	font-weight: bold;
	font-size: 10pt;
}
.rightdiv dl dd a{
	font-size: 9pt;
	color: #737373;
	line-height: 22px;
}
.rightdiv dl dd a:hover{
	color: #737373;
	font-weight: normal;
}