#container{
  width: 400px;
  height: 400px;
  background: #1B91F3;
  margin: 0 auto;
}
#box{
  perspective: 800px;/* 写在舞台元素上或者当前动画元素上 */
  width: 300px;
  height: 300px;
  margin: 0 auto;
  transform-style: preserve-3d;/* 写在舞台元素上 */
  position: relative;
  transition: 2s;
}
#box:hover{
  transform:rotateY(180deg);
}
#box .bian{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 100px;
  position: absolute;
}
.zhi1{
  transform:rotateY(180deg);
}
.zhi2{
  backface-visibility: hidden;
}