img{
  width: 200px;
  height: 200px;
}
#box{
  perspective: 800px;
  /* transform:rotateX(0deg) rotateY(0deg); */
}
.mofang_box{
  width: 200px;
  height: 200px;
  margin: 200px auto;
  position: relative;
  transform-style: preserve-3d;
  transition: 60s;
  /* transform:rotateX(0deg) rotateY(0deg); */
}
.mofang_box:hover{
  transform:rotateX(3600deg)rotateY(3600deg);
}
.mofang{
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;

}
.left{
  transform:rotateY(90deg) translateZ(-100px);
}
.right{
  transform:rotateY(90deg) translateZ(100px);
}
.top{
  transform:rotateX(90deg) translateZ(100px) rotateZ(360deg);
}
.buttom{
  transform:rotateX(90deg) translateZ(-100px) rotateZ(180deg);
}
.hou{
  transform:rotateX(0deg) translateZ(-100px) rotateZ(180deg);
}
.qian{
  transform:rotateX(0deg) translateZ(100px);
}