/*5*/
.div5{
	width: 100px;
	height: 100px;
	position: absolute;
	animation-name: myfirst;
	animation-duration: 5s;/*规定动画完成一个周期所花费的秒，默认为0*/
	animation-timing-function: linear;/*动画从头到尾的速度是相同的*/
	animation-delay: 2s;/*规定动画何时开始*/
	animation-iteration-count: infinite;/*规定动画应该无限次播放*/
	animation-direction: alternate;/*动画轮流反向播放*/
	animation-play-state: running;/*规定动画正在播放*/
	/* Firefox: */
-moz-animation-name:myfirst;
-moz-animation-duration:5s;
-moz-animation-timing-function:linear;
-moz-animation-delay:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:alternate;
-moz-animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
/* Opera: */
-o-animation-name:myfirst;
-o-animation-duration:5s;
-o-animation-timing-function:linear;
-o-animation-delay:2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:alternate;
-o-animation-play-state:running;
}
@keyframes myfirst
{
0%   {background:red; left:100px; top:0px;}
20%  {background:yellow; left:0px; top:0px;}
40%  {background:blue; left:0px; top:100px;}
60%  {background:green; left:100px; top:100px;}
80% {background:gray; left:100px; top:200px;}
100% {background:gray; left:0px; top:200px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:red; left:100px; top:0px;}
20%  {background:yellow; left:0px; top:0px;}
40%  {background:blue; left:0px; top:100px;}
60%  {background:green; left:100px; top:100px;}
80% {background:gray; left:100px; top:200px;}
100% {background:gray; left:0px; top:200px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:red; left:100px; top:0px;}
20%  {background:yellow; left:0px; top:0px;}
40%  {background:blue; left:0px; top:100px;}
60%  {background:green; left:100px; top:100px;}
80% {background:gray; left:100px; top:200px;}
100% {background:gray; left:0px; top:200px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background:red; left:100px; top:0px;}
20%  {background:yellow; left:0px; top:0px;}
40%  {background:blue; left:0px; top:100px;}
60%  {background:green; left:100px; top:100px;}
80% {background:gray; left:100px; top:200px;}
100% {background:gray; left:0px; top:200px;}
}
/*2*/
.div2{
	width: 100px;
	height: 100px;
	position: absolute;
	animation-name: mysecond;
	animation-duration: 5s;/*规定动画完成一个周期所花费的秒，默认为0*/
	animation-timing-function: linear;/*动画从头到尾的速度是相同的*/
	animation-delay: 2s;/*规定动画何时开始*/
	animation-iteration-count: infinite;/*规定动画应该无限次播放*/
	animation-direction: alternate;/*动画轮流反向播放*/
	animation-play-state: running;/*规定动画正在播放*/
	/* Firefox: */
-moz-animation-name:mysecond;
-moz-animation-duration:5s;
-moz-animation-timing-function:linear;
-moz-animation-delay:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:alternate;
-moz-animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:mysecond;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
/* Opera: */
-o-animation-name:mysecond;
-o-animation-duration:5s;
-o-animation-timing-function:linear;
-o-animation-delay:2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:alternate;
-o-animation-play-state:running;
}
@keyframes mysecond
{
0%   {background:red; left:300px; top:0px;}
20%  {background:yellow; left:400px; top:0px;}
40%  {background:blue; left:400px; top:100px;}
60%  {background:green; left:300px; top:100px;}
80% {background:gray; left:300px; top:200px;}
100% {background:gray; left:400px; top:200px;}
}

@-moz-keyframes mysecond /* Firefox */
{
0%   {background:red; left:300px; top:0px;}
20%  {background:yellow; left:400px; top:0px;}
40%  {background:blue; left:400px; top:100px;}
60%  {background:green; left:300px; top:100px;}
80% {background:gray; left:300px; top:200px;}
100% {background:gray; left:400px; top:200px;}
}

@-webkit-keyframes mysecond /* Safari and Chrome */
{
0%   {background:red; left:300px; top:0px;}
20%  {background:yellow; left:400px; top:0px;}
40%  {background:blue; left:400px; top:100px;}
60%  {background:green; left:300px; top:100px;}
80% {background:gray; left:300px; top:200px;}
100% {background:gray; left:400px; top:200px;}
}

@-o-keyframes mysecond /* Opera */
{
0%   {background:red; left:300px; top:0px;}
20%  {background:yellow; left:400px; top:0px;}
40%  {background:blue; left:400px; top:100px;}
60%  {background:green; left:300px; top:100px;}
80% {background:gray; left:300px; top:200px;}
100% {background:gray; left:400px; top:200px;}
}
/*0*/
div
{
width:100px;
height:100px;
position:absolute;
animation-name:mythird;
animation-duration:5s;
animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Firefox: */
-moz-animation-name:mythird;
-moz-animation-duration:5s;
-moz-animation-timing-function:linear;
-moz-animation-delay:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:alternate;
-moz-animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:mythird;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
/* Opera: */
-o-animation-name:mythird;
-o-animation-duration:5s;
-o-animation-timing-function:linear;
-o-animation-delay:2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:alternate;
-o-animation-play-state:running;
}

@keyframes mythird
{
0%   {background:red; left:600px; top:0px;}
25%  {background:yellow; left:700px; top:0px;}
50%  {background:blue; left:700px; top:200px;}
75%  {background:green; left:600px; top:200px;}
100% {background:red; left:600px; top:0px;}
}

@-moz-keyframes mythird /* Firefox */
{
0%   {background:red; left:600px; top:0px;}
25%  {background:yellow; left:700px; top:0px;}
50%  {background:blue; left:700px; top:200px;}
75%  {background:green; left:600px; top:200px;}
100% {background:red; left:600px; top:0px;}
}

@-webkit-keyframes mythird /* Safari and Chrome */
{
0%   {background:red; left:600px; top:0px;}
25%  {background:yellow; left:700px; top:0px;}
50%  {background:blue; left:700px; top:200px;}
75%  {background:green; left:600px; top:200px;}
100% {background:red; left:600px; top:0px;}
}

@-o-keyframes mythird /* Opera */
{
0%   {background:red; left:600px; top:0px;}
25%  {background:yellow; left:700px; top:0px;}
50%  {background:blue; left:700px; top:200px;}
75%  {background:green; left:600px; top:200px;}
100% {background:red; left:600px; top:0px;}
}
.span1{
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 30px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: red;
}
.span2{
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 30px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000;
}