*{
	padding: 0px;
	margin: 0px;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
header{
	width: 100%;
	height: 72px;
	box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}
header .logo{
	margin: 0 28px 0 24px;
	cursor: pointer;
	float: left;
}
header .logo img{
	display: block;
	height: 72px;
	width: auto;
}
.nav-item{
	list-style: none;
}
.nav-item li{
	float: left;
}
.nav-item a{
	padding: 0 20px;
	display: block;
	color: #4d555d;
	font-size: 16px;
	text-decoration: none;
	line-height: 72px;
}
.nav-item a:hover{
	color: #000;
}
.nav-item .i-new{
	position: relative;
	background-image: url('images/new.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	top: -10px;
}
header .login{
	float: right;
}
header .login ul{
	list-style: none;
}
header .login li{
	float: left;
}
header .login .app-load{
	font-size: 14px;
	line-height: 72px;
	position: relative;
}
header .login .app-load a{
	text-decoration: none;
	color: #71777d;
	padding: 0 15px;
}
header .login .app-load a:hover{
	color: #f01414;
}
header .login .app-load .app-load-box{
	display: none;/* 先让下载APP隐藏起来 */
	position: absolute;
	width: 334px;
	top: 100%;
	padding: 22px 24px;
	background-color: #fff;
	font-size: 12px;
	color: #4d555d;
	line-height: 16px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	right: 0;
	z-index: 99999;
	box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .2);
	box-sizing: border-box;
}
header .login .app-load:hover .app-load-box{
	display: block;
}
header .login .app-load .app-load-box img{
	width: 108px;
	height: 108px;
	float: left;
}
header .login .app-load .app-load-box .r{
	float: right;
}
header .login .app-load .app-load-box p{
	margin-bottom: 12px;
	word-break: break-all;
	text-align: center;
}
header .login .app-load .app-load-box a{
	text-decoration: none;
	display: block;
	font-size: 12px;
	color: #fff;
	width: 132px;
	height: 36px;
	margin-top: 8px;
	line-height: 36px;
	background-color: #4d555d;
	border-radius: 18px;
}
header .login .app-load .app-load-box a:hover{
	background-color: #14191e;
}
header .login .app-load .app-load-box i{
	font-size: 16px;
	margin: 0 8px 0 12px;
	vertical-align: -2px;
}
header .login .shop-car{
	position: relative;
	height: 36px;
	line-height: 36px;
	margin-top: 18px;
	margin-bottom: 18px;
}
header .login .shop-car:hover .my-car{
	display: block;
}
header .login .shop-car .shop-car-icon{
	height: 36px;
	line-height: 36px;
	border: 1px solid #d9dde1;
	border-radius: 18px;
	padding: 0 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #71777d;
}
.shop-car .shop-car-icon span{
	font-size: 14px;
}
header .login .shop-car a:hover{
	color: #f01414;
	background-color: #f8fafc;
}
.shop-car .shop-car-icon .icon-gouwuche{
	font-size: 16px;
	margin-right: 8px;
}
.shop-car .my-car{
	position: absolute;
	width: 350px;
/* 	top: 54px; */
	right: 0px;
	padding: 0 12px;
	z-index: 99999;
	box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .2);
	box-sizing: border-box;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
	display: none;
}
.shop-car .my-car .car-title{
	padding: 20px 12px;
	border-bottom: 1px solid #d9dde1;
}
.shop-car .my-car .car-title .l{
	height: 16px;
	font-size: 16px;
	color: #07111b;
	line-height: 16px;
	float: left;
}
.shop-car .my-car .car-title .r{
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #93999f;
	float: right;
}
.shop-car .my-car .car-wrap{
	height: 284px;
	text-align: center;
}
.shop-car .my-car .car-wrap .icon-gouwuche{
	margin-top: 36px;
	margin-bottom: 12px;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-color: #93999f;
	font-size: 36px;
	color: #fff;
	border-radius: 50%;
}
.shop-car .my-car .car-wrap h3{
	margin: 0 auto;
	width: 180px;
	padding-bottom: 24px;
	border-bottom: 1px solid #d9dde1;
	color: #4d555d;
	font-size: 14px;
	line-height: 14px;
}
.shop-car .my-car .car-wrap .text{
	text-align: center;
	margin-top: 24px;
	margin-bottom: 16px;
	font-size: 12px;
	line-height: 12px;
	color: #93999f;
}
.shop-car .my-car .car-wrap a{
	text-decoration: none;
	color: rgba(240, 20, 20, .6);
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 16px;
}
.shop-car .my-car .more-box{
	padding: 16px 12px;
	border-top: 1px solid #d9dde1;
}
.shop-car .my-car .more-box .show-box{
	height: 38px;
	line-height: 38px;
	float: left;
}
.shop-car .my-car .more-box .show-box span{
	font-size: 12px;
	color: #93999f;
}
.shop-car .my-car .more-box .show-box span:hover{
	color: #4d555d;
}
.shop-car .my-car .more-box a{
	text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	padding: 12px 16px;
	background-color: rgba(240, 20, 20, .8);
	border-radius: 16px;
	color: #fff;
	float: right;
	border: 1px solid #f01400;
	margin-bottom: 10px;
}
header .login .register{
	margin-left: 12px;
	color: #d9dde1;
	height: 72px;
	line-height: 72px;
}
header .login .register a{
	text-decoration: none;
	color: #4d555d;
	font-size: 14px;
	text-align: center;
	padding: 0 12px;
}
header .login .register a:hover{
	color: #f01414;
}
header .search{
	float: left;
	margin-left: 24px;
	height: 48px;
	width: 300px;
	margin-top: 12px;
	position: relative;
}
header .search .tags{
	position: absolute;
	top: 12px;
	z-index: 100;
	bottom: 24px;
	right: 40px;
}
header .search .tags span{
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 200;
	line-height: 24px;
	padding: 0 8px;
	border-radius: 12px;
	color: #4d555d;
	background-color: #f3f5f7;
}
header .search .area{
	height: 48px;
	width: 260px;
	border-bottom: 1px solid #d9dde1;
	float: right;
}
header .search .area .input{
	float: left;
	height: 48px;
	padding: 12px 0;
	color: #71777d;
	background-color: transparent;
	width: 100%;
	line-height: 46px;
	font-size: 12px;
	border: 0px;
	box-sizing: border-box;
	outline: none;
}
header .search .glass{
	padding: 0 8px;
	border-radius: 12px;
	top: 12px;
	width: 20px;
	height: 24px;
	text-align: right;
	position: absolute;
	display: inline-block;
	color: #93999f;
	right: 0px;
	bottom: 24px;
	cursor: pointer;
}
header .search .glass i{
	font-size: 20px;
	color: #93999f;
	line-height: 24px;
	width: 20px;
	height: 24px;
	font-weight: 400;
}
header .search .glass:hover{
	background-color: #F76C6C;
}
header .search .glass i:hover{
	color: red;
}
/* header部分结束 */
.main .banner-box{
	box-shadow: 0 2px 8px 0 rgba(7, 17, 27, .06);
	padding-top: 32px;
}
.main .banner-box .f-banner{
	background-color: #93999f;
	box-shadow: 0 12px 24px 0 rgba(7, 17, 27, .2);
	position: relative;
	height: 444px;
	overflow: hidden;
	width: 1152px;
	margin: auto;
	border-radius: 8px;
}
.main .banner-box .f-banner .menuwrap{
	background-color: rgba(7, 17, 27, .5);
	opacity: .502;
	left: 0;
	width: 216px;
	z-index: 1;
	position: absolute;
	top: 0;
	height: 444px;
}
.main .banner-box .f-banner .qianduan{
	display: none;
	background-color: #f8fafc;
	position: absolute;
	top: 0px;
	left: 216px;
	width: 768px;
	height: 444px;
	z-index: 581;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
}
.main .f-banner .qianduan .top{
	background-color: #fff;
	padding: 12px 48px 32px;
	position: relative;
	min-height: 150px;
}
.main .f-banner .qianduan .top .subinnerbox{
	overflow: hidden;
	box-sizing: border-box;
	float: left;
}
.main .f-banner .qianduan .top .banner{
	position: relative;
	height: 1px;
	margin: 35px 0 23px;
	background-color: rgba(77, 85, 93, .08);
}
.main .f-banner .qianduan .top .banner span{
	position: absolute;
	top: -12px;
	left: 0px;
	width: 36px;
	font-size: 12px;
	color: #07111b;
	line-height: 24px;
	background-color: #fff;
	float: left;
	font-weight: 700;
	margin-right: 10px;
}
.main .f-banner .qianduan .top .tag{
	float: left;
}
.main .f-banner .qianduan .top .tag a{
	font-size: 14px;
	color: #4d555d;
	line-height: 24px;
	margin-right: 18px;
	text-decoration: none;
}
.main .f-banner .qianduan .top .tag a:hover{
	color: red;
}
.main .f-banner .qianduan .bottom{
	padding: 36px 0 48px 48px;
}
.main .qianduan .bottom .banner-card{
	width: 312px;
	height: 60px;
	margin-right: 48px;
	margin-bottom: 36px;
	float: left;
}
.main .qianduan .bottom .banner-card a{
	display: block;
	width: 100%;
	height: 100%;
	color: #14191e;
	text-decoration: none;
}
.main .qianduan .bottom .banner-card a img{
	width: 64px;
	height: 42px;
	border-radius: 4px;
	background-color: #ccc;
	float: left;
}
.main .qianduan .bottom .banner-card .course-card{
	margin-left: 16px;
	float: left;
}
.main .qianduan .bottom .banner-card .course-card h3{
	width: 232px;
	font-size: 12px;
	color: #07111b;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main .qianduan .bottom .banner-card .course-card .info{
	font-size: 12px;
	color: #4d555d;
	line-height: 20px;
}
.main .qianduan .bottom .banner-card .course-card .info span{
	margin-right: 12px;
}
.main .qianduan .bottom .banner-card .course-card .price{
	font-size: 12px;
	color: #4d555d;
	line-height: 20px;
}
/* 前端结束 */
.main .banner-box .f-banner .houduan{
	display: none;
	background-color: #f8fafc;
	position: absolute;
	top: 0px;
	left: 216px;
	width: 768px;
	height: 444px;
	z-index: 581;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
}
.main .f-banner .houduan .top{
	background-color: #fff;
	padding: 12px 48px 32px;
	position: relative;
	min-height: 150px;
}
.main .f-banner .houduan .top .subinnerbox{
	overflow: hidden;
	box-sizing: border-box;
	float: left;
}
.main .f-banner .houduan .top .banner{
	position: relative;
	height: 1px;
	margin: 35px 0 23px;
	background-color: rgba(77, 85, 93, .08);
}
.main .f-banner .houduan .top .banner span{
	position: absolute;
	top: -12px;
	left: 0px;
	width: 36px;
	font-size: 12px;
	color: #07111b;
	line-height: 24px;
	background-color: #fff;
	float: left;
	font-weight: 700;
	margin-right: 10px;
}
.main .f-banner .houduan .top .tag{
	float: left;
}
.main .f-banner .houduan .top .tag a{
	font-size: 14px;
	color: #4d555d;
	line-height: 24px;
	margin-right: 18px;
	text-decoration: none;
}
.main .f-banner .houduan .top .tag a:hover{
	color: red;
}
.main .f-banner .houduan .bottom{
	padding: 36px 0 48px 48px;
}
.main .houduan .bottom .banner-card{
	width: 312px;
	height: 60px;
	margin-right: 48px;
	margin-bottom: 36px;
	float: left;
}
.main .houduan .bottom .banner-card a{
	display: block;
	width: 100%;
	height: 100%;
	color: #14191e;
	text-decoration: none;
}
.main .houduan .bottom .banner-card a img{
	width: 64px;
	height: 42px;
	border-radius: 4px;
	background-color: #ccc;
	float: left;
}
.main .houduan .bottom .banner-card .course-card{
	margin-left: 16px;
	float: left;
}
.main .houduan .bottom .banner-card .course-card h3{
	width: 232px;
	font-size: 12px;
	color: #07111b;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main .houduan .bottom .banner-card .course-card .info{
	font-size: 12px;
	color: #4d555d;
	line-height: 20px;
}
.main .houduan .bottom .banner-card .course-card .info span{
	margin-right: 12px;
}
.main .houduan .bottom .banner-card .course-card .price{
	font-size: 12px;
	color: #4d555d;
	line-height: 20px;
}
/* 后端结束 */
.main .banner-box .f-banner .yidong{
	display: none;
	background-color: #f8fafc;
	position: absolute;
	top: 0px;
	left: 216px;
	width: 768px;
	height: 444px;
	z-index: 581;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
}
.main .f-banner .yidong .top{
	background-color: #fff;
	padding: 12px 48px 32px;
	position: relative;
	min-height: 150px;
}
.main .f-banner .yidong .top .subinnerbox{
	overflow: hidden;
	box-sizing: border-box;
	float: left;
}
.main .f-banner .yidong .top .banner{
	position: relative;
	height: 1px;
	margin: 35px 0 23px;
	background-color: rgba(77, 85, 93, .08);
}
.main .f-banner .yidong .top .banner span{
	position: absolute;
	top: -12px;
	left: 0px;
	width: 36px;
	font-size: 12px;
	color: #07111b;
	line-height: 24px;
	background-color: #fff;
	float: left;
	font-weight: 700;
	margin-right: 10px;
}
.main .f-banner .yidong .top .tag{
	float: left;
}
.main .f-banner .yidong .top .tag a{
	font-size: 14px;
	color: #4d555d;
	line-height: 24px;
	margin-right: 18px;
	text-decoration: none;
}
.main .f-banner .yidong .top .tag a:hover{
	color: red;
}
.main .f-banner .yidong .bottom{
	padding: 36px 0 48px 48px;
}
.main .yidong .bottom .banner-card{
	width: 312px;
	height: 60px;
	margin-right: 48px;
	margin-bottom: 36px;
	float: left;
}
.main .yidong .bottom .banner-card a{
	display: block;
	width: 100%;
	height: 100%;
	color: #14191e;
	text-decoration: none;
}
.main .yidong .bottom .banner-card a img{
	width: 64px;
	height: 42px;
	border-radius: 4px;
	background-color: #ccc;
	float: left;
}
.main .yidong .bottom .banner-card .course-card{
	margin-left: 16px;
	float: left;
}
.main .yidong .bottom .banner-card .course-card h3{
	width: 232px;
	font-size: 12px;
	color: #07111b;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main .yidong .bottom .banner-card .course-card .info{
	font-size: 12px;
	color: #4d555d;
	line-height: 20px;
}
.main .yidong .bottom .banner-card .course-card .info span{
	margin-right: 12px;
}
.main .yidong .bottom .banner-card .course-card .price{
	font-size: 12px;
	color: #4d555d;
	line-height: 20px;
}
/* 移动开发结束 */
.main .banner-box .f-banner .menucontent{
	position: relative;
	float: left;
	width: 216px;
	height: 444px;
	z-index: 2;
	padding-top: 12px;
	background-color: #2b333b;
	border-bottom-left-radius: 4px;
	font-weight: 200;
	box-sizing: border-box;
}
.main .banner-box .f-banner .menucontent .item1:hover .qianduan{
	display: block;
}
.main .banner-box .f-banner .menucontent .item2:hover .houduan{
	display: block;
}
.main .banner-box .f-banner .menucontent .item3:hover .yidong{
	display: block;
}
.main .banner-box .f-banner .menucontent .item{
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	cursor: pointer;
	padding-left: 12px;
	position: relative;
}
.main .banner-box .f-banner .menucontent .item a:hover{
	background-color: rgba(255, 255, 255, .2);
	color: #fff;
}
.main .menucontent .item>a{
	display: block;
	text-decoration: none;
	color: rgba(255, 255, 255, .6);
	padding: 0 16px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 60px;
	transition: all .1s;
}
.main .menucontent .item span{
	font-size: 16px;
}
.main .menucontent .item i{
	position: absolute;
	right: 16px;
	color: rgba(255, 2555, 255, .5);
	font-size: 22px;
	font-weight: bold;
}
.main .rt{
	position: relative;
	float: left;
	width: 936px;
}
.main .rt .notice{
	position: absolute;
	top: 8px;
	left: 0px;
	background-color: #f90;
	box-shadow: 0 2px 4px 0 rgba(7, 17, 27, .2);
	padding: 6px 12px 6px 8px;
	z-index: 1;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.main .rt .notice i{
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	margin-top: 1px;
	margin-right: 4px;
}
.main .rt .notice a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}
.main .rt .rm{
	position: relative;
	height: 316px;
}
.main .rt .rb{
	width: 936px;
	height: 128px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
	background-color: #fff;
	text-align: center;
	padding: 0 18px;
}
.main .rt .rb>a{
	text-decoration: none;
	float: left;
	width: 180px;
	height: 128px;
	overflow: hidden;
}
.main .rt .rb a i{
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: #F0E916;
	background-size: 100%;
	border-radius: 100%;
	margin-top: 22px;
}
.main .rt .rb a .tit{
	font-size: 14px;
	color: #07111b;
	letter-spacing: 1px;
	margin-top: 4px;
}
.main .rt .rb a .desc{
	font-size: 12px;
	color: #93999f;
	line-height: 16px;
	margin-top: 2px;
	font-weight: 200;
}