*{
    padding: 0;
    margin: 0;
}
.cal{
    width: 100%;
    background-image: url("./images/head_background.png");
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
.title{
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: #fff;
}
.transform{
    height: 150px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.leftPart{
    position: absolute;
    width: 200px;
    height: 50px;
    line-height: 50px;
    top: 10px;
}
.leftSelect{
    border-radius: 7px;
    width: 100px;
    color: #2643e3;
    font-size: 17px;
    margin: 0 50px;
}
.transformImg{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    text-align: center;
}
.rightPart{
    position: absolute;
    width: 200px;
    height: 50px;
    line-height: 50px;
    top: 10px;
    right: 0;
}
.rightSelect{
    border-radius: 7px;
    width: 100px;
    color: #2643e3;
    font-size: 17px;
    margin: 0 50px;
}
.inAndOut{
    height: 130px;
    width: 650px;
    margin: 0 auto;
    position: relative;
}
.leftIn{
    color: #fff;
    font-size: 16px;
    width: 200px;
    position: absolute;
}
.inputStyle{
    border-radius: 5px;
    border: 0;
    height: 22px;
}
.rightIn{
    color: #fff;
    font-size: 16px;
    width: 160px;
    position: absolute;
    right: 0;
}
.explain{
    margin: 0 auto;
    margin-top: 20px;
}
.end{
    width: 100%;
    height: 300px;
    background-image: url("./images/end_background.png");
    position: relative;
    font-size: 18px;
    color: #fff;
}
.author{
    position: absolute;
    width: 350px;
    height: 100px;
    right: 0;
    top: 200px;
}
.btn{
    width: 60px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #0019ff;
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
#twoChange{
    display: block;
}
#eightChange{
    display: none;
}
#tenChange{
    display: none;
}
#sixteenChange{
    display: none;
}