#style1{
	width: 400px;
	height: 200px;
	background: gray;
	top: 50%;
	right: 50%;
	position: absolute;
	margin: -100px -200px 0 0;
}
#style2{
	background: #fc0;
	float: left;
	border-radius: 0 0 100% 0;
	width: 50px;
	height: 50px;
}
#style3{
	background: #fc0;
	float: right;
	border-radius:100% 0 0 0 ;
	width: 50px;
	height: 50px;
	bottom: 0px;
	position: absolute;
	right: 0px;
}
