
*{
	margin: 0px;
	padding: 0px;
}
body{
	
	font-family: "微软雅黑";
}
ul li{
	list-style: none;
	cursor: pointer;
}
ul,li{
	padding: 0px;
	margin: 0px;
}
/*header*/
header{
	height: 55px;
	background: url(image/header.gif);
	background-repeat: repeat-x;
}
.header-logo{
	height: 55px;
	float: left;
	line-height: 50px;
	margin-left: 45px;
}
.header-logo img{
	vertical-align: middle;
}
.login{
	float: right;
	height: 55px;
	line-height: 53px;
	margin-right: 90px;
}
.login img{
	vertical-align: middle;
}
.login a{
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
}
.search{
	height: 55px;
	float: right;
	line-height: 53px;
	margin-right: 20px;
	position: relative;
}
.search img{
	position: relative;
	top: 6.8px;
	right: 300px;
}
.search input{
	height: 25px;
	width: 270px;
	vertical-align: middle;
	border: 1px solid #2289bf;
	border-radius: 20px;
	padding-left: 35px;
}
/*aside*/
aside{
	width: 260px;
	height: 1200px;
	background: url(image/aside-bg.gif);
	background-repeat: repeat-y;
	float: left;
	color: #2380b1;
}
aside a{
	text-decoration: none;
	color: #bababe;
}
.user{
	color: #bababe;
	position: relative;
}
.user-logo{
	float: left;
	margin: 20px 40px;
}
.user .name{
	float: left;
	line-height: 100px;
}
.user a:hover{
	font-weight: bold;
	color: #ffffff;
}
.user ul{
	display: inline-block;
	margin: 0px;
}
.user ul p{
	font-size: 14px;
	margin: 0px;
}
.user-star{
	position: absolute;
	padding-right: 50px;
	border-right: 2px solid #444a65;
	top: 100px;
	left: 30px;
}
.user-follow{
	position: absolute;
	top: 100px;
	right: 70px;
}
.per-table{
	height: 202px;
	background: #383d4e;
	position: relative;
	font-size: 13px;
	margin-top: 165px;
}
.per-table ul{
	margin-top: 10px;
}
.per-table>ul>li {
	padding: 4px 17px 12px 17px;
}
.per-table>ul>li:hover{
	background-color: #393e4e;
}
.list-check ul{
	padding-left: 25px;
}
.list-check ul li{
	padding: 5px;
}
.list-check a{
	padding: 5px;
}
/*container*/
.container{
	float: right;
	background: #eeeeed;
	height: 1200px;
	width: calc(100% - 260px);
	/*最后一行代码使右边区域占满，原理是整个宽度减去aside的260px的宽度*/
}
.container .nav{
	height: 30px;
	background: #ffffff;
	padding-left: 30px;
	margin-bottom: 20px;
}
.container .nav a{
	text-decoration: none;
	color: #383d4e;
	height: 30px;
	line-height: 30px;
}
.container .main{
	width: 890px;
	margin: 0 auto;
}
/*part-one*/
.part-one{
	background: #ffffff;
	position: relative;
	height: 84px;
	margin-bottom: 9px;
	border-radius: 1px;
	box-shadow: 0px 0px 5px #ababab;
}
.part-one label{
	font-size: 14px;
	font-family: "宋体";
	font-weight: bold;
	color: #b7b7b7;
}
.part-one select{
	width: 79px;
	padding: 5px 0px 5px 10px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.part-one .choice{
	position: absolute;
	top: 14px;
	left: 35px;
}
.part-one .blue-arrow{
	background: url(image/blue-arrow.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.part-one .buyer{
	position: absolute;
	top: 14px;
	left: 200px;
}
.part-one .black-arrow{
	background: url(image/black-arrow.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.part-one .long{
	width: 120px;
}
.part-one .solder{
	position: absolute;
	top: 46px;
	left: 200px;
}
.part-one .change{
	position: absolute;
	top: 22px;
	left: 357px;
}
.part-one .date{
	position: absolute;
	top: 14px;
	left: 421px;
}
.part-one .date input{
	width: 120px;
	padding: 3px 0px 2px 10px;
	cursor: pointer;
}
.part-one .time{
	position: absolute;
	top: 14px;
	left: 604px;
}
.part-one .people{
	position: absolute;
	top: 46px;
	left: 421px;
}
.part-one .deal{
	position: absolute;
	top: 46px;
	left: 563px;
}
.part-one .search{
	position: absolute;
	top: 17.5px;
	right: 53px;
}
.part-one .search a{
	padding: 5px 13px;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
	background: #388bc2;
	color: #ffffff;
	transition: all .2s;
	-wekbit-tranisiton: all .2s;
}
.part-one .search a:hover{
	background: #6fb1dc;
}
/*part-two*/
.part-two{
	height: 63px;
	position: relative;
	margin-bottom: 20px;
	border-radius: 1px;
	box-shadow: 0px 0px 5px #ababab;
}
.part-two .left, .right{
	width: 29px;
	height: 63px;
	font-size: 30px;
	background: #ffffff;
	position: absolute;
}
.left a, .right a{
	line-height: 63px;
	color: #b7b7b7;
	text-decoration: none;
	padding-left: 6px;
}
.right{
	top: 0px;
	right: 135px;
}
.part-two .price{
	width: 109px;
	height: 59px;
	background: #ffffff;
	text-align: center;
	position: absolute;
	cursor: pointer;
	border-top: 4px solid #ffffff;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.price:hover{
	border-color: #4388c9;
}
.price{
	color: #acacac;
	font-size: 15px;
}
.price>span{
	vertical-align: sub;
}
.price .pa{
	font-size: 15px;
	color: black;
}
.price p span{
	color: #ec6602;
	font-size: 30px;
	font-weight: 70px;
}
.part-two .one{
	left: 35px;
}
.part-two .two{
	left: 150px;
}
.part-two .three{
	left: 265px;
}
.part-two .four{
	left: 380px;
}
.part-two .five{
	left: 495px;
}
.part-two .six{
	left: 610px;
}
.history{
	width: 128px;
	height: 63px;
	background: url(image/history.gif);
	background-position: 20% 50%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
.history a{
	text-align: right;
	color: black;
	text-decoration: none;
	font-size: 14px;
	position: absolute;
	top: 22px;
	right: 10px;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-in-out;
}
.history a:hover{
	color: #4388c9;
}
/*part-three*/
.part-three .main{
	height: 69px;
	position: relative;
	margin-bottom: 14px;
}
.part-three .box{
	width: 196px;
	height: 69px;
	background-color: #ffffff;
	border-left: 4px solid #000000;
	position: absolute;
	margin-top: 5px;
	font-size: 14px;
	box-shadow: 0px 0px 5px #d3d4d7;
	overflow: hidden;
	cursor: pointer;
}
.part-three .box span{
	display: block;
	padding-top: 13px;
	padding-left: 10px;
}
.part-three .main .one{
	left: 0px;
	border-color: #44b29e;
}
.part-three .one div{
	width: 60px;
	height: 45px;
	background-color: #44b29e;
	position: absolute;
	top: 12px;
	right: 15px;
}
.part-three .main .two{
	left: 230px;
	border-color: #398bc2;
	
}
.part-three .two div{
	width: 60px;
	height: 45px;
	background-color: #398bc2;	
	position: absolute;
	top: 12px;
	right: 15px;
}
.part-three .three{
	right: 230px;
	border-color: #cf4a36;
}
.part-three .three div{
	width: 60px;
	height: 45px;
	background-color: #cf4a36;
	position: absolute;
	top: 12px;
	right: 15px;
}
.part-three .four{
	right: 0px;
	border-color: #e2cd47;
}
.part-three .four div{
	width: 60px;
	height: 45px;
	background-color: #e2cd47;
	position: absolute;
	top: 12px;
	right: 15px;
}
/*part-four*/
.part-four{
	height: 355px;
	margin-bottom: 10px;
}
.part-four .left-part{
	width: 530px;
	height: 355px;
	margin-right: 9px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #ababab;
	background: #ffffff;
	overflow: hidden;
	float: left;
}
.part-four .header{
	height: 40px;
	background: #f4f6f7;
	border-bottom: 2px solid #e7e9eb;
	line-height: 40px;
	font-size: 14px;
	color: #aaaaaa;
	padding-left: 20px;
}
.part-four .left-part .project-item{
	position: relative;
	padding: 10px 20px;
}
.project-item ul li{
	display: inline-block;
	position: relative;
	width: 70px;
	line-height: 30px;
	text-align: center;
}
.part-four .project-item ul li input{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	left: 0px;
}
.part-four .project-item ul li span{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: #ededf0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1;
}
.project-item ul li input:checked + span {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.project-item .tab{
	display: none;
	position: absolute;
	width: 409px;
	height: 171px;
	top: 31px;
	border: 1px solid #aaaaaa;
	z-index: 0;
	padding: 40px 40px;
	border-radius: 0 5px 5px 5px;
}
.project-item ul li input:checked + span + .tab {
	display: block;
}
.part-four .tab table{
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.tab table td{
	border: 1px solid #aaaaaa;
	font-size: 14px;
}
.tab table td:hover{
	background: #f4f5f6;
}
.part-four .item-2{
	margin-left: -74.5px;
	border-radius: 5px;
}
.part-four .item-3{
	margin-left: -148.9px;
	border-radius: 5px;
}
.part-four .item-4{
	margin-left: -224px;
	border-radius: 5px;
}
.part-four .item-5{
	margin-left: -299px;
	border-radius: 5px;
}
/*part-four right-part*/
.part-four .right-part{
	width: 350px;
	height: 355px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #ababab;
	overflow: hidden;
	background: #ffffff;
	position: relative;
	float: right;
}
.right-part .form table{
	margin: 14px 34px 6px 34px;
	width: 282px;
}
.right-part .form table tr{
	height: 44px;
	font-size: 14px;
}
.right-part .form span{
	display: block;
	color: #cccbcb;
	font-size: 13px;
}
.right-part .form thead tr td{
	border-bottom: 1px solid #e7e7e7;
}
.right-part .form tbody tr td{
	border-bottom: 1px solid #e7e7e7;
}
.t-price{
	border-right: 1px solid #e7e7e7;
	width: 40%;
}
.right-part .form .detail{
	height: 145px;
}
.right-part .position{
	position: relative;
	top: -50px;
}
.right-part .font{
	font-family: "宋体";
	font-size: 14px;
}
.right-part .form input{
	margin-left: 36px;
}
.right-part .form input,label{
	display: inline-block;
}
.right-part .form .button-position{
	position: absolute;
	top: 285px;
	right: 18px;
}
.right-part .search a{
	padding: 5px 13px;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
	background: #388bc2;
	color: #ffffff;
	transition: all .2s;
	-wekbit-tranisiton: all .2s;
}
.right-part .search a:hover{
	background: #6fb1dc;
}
/*part-five*/
.part-five{
	height: 355px;
}
.part-five .left-part{
	width: 350px;
	height: 355px;
	float: left;
	background: #ffffff;
	overflow: hidden;
	border-radius: 10px;
	margin-right: 9px;
	box-shadow: 0px 0px 5px #ababab;
}
.part-five .right-part{
	width: 530px;
	height: 355px;
	border-radius: 10px;
	overflow: hidden;
	background: #ffffff;
	box-shadow: 0px 0px 5px #ababab;
}
.part-five .header{
	height: 40px;
	background: #f4f6f7;
	border-bottom: 2px solid #e7e9eb;
	line-height: 40px;
	font-size: 14px;
	color: #aaaaaa;
	padding-left: 20px;
}
.calendar{
	margin: 10px 18px;
}
.canlader select{
	-webkit-appearance: none;
	appearance: none;
	height: 24px;
	border: 1px solid #cacbcb;
	cursor: pointer;
}
.calendar .time{
	width: 60px;
	padding-left: 5px;
}
.calendar .month{
	width: 80px;
	padding: 0px 25px;
	background-image: url(image/arrow-down.png),url(image/arrow-r.png),url(image/arrow-l.png);
	background-repeat: no-repeat,no-repeat,no-repeat;
	background-position: 75% 50%,95% 50%,5% 50%;
}
.calendar .date{
	width: 80px;
	padding-left: 5px;
}
.calendar .arrow-down{
	background: url(image/arrow-down.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.calendar input{
	width: 70px;
	height: 24px;
	background: #ffffff;
	border: 1px solid #cacbcb;
	cursor: pointer;
}
.date-all{
	text-align: center;
	margin: 0px 20px;
}
.date-all .week td{
	padding: 10px 0px;
	border-top: 2px solid #a9cfec;
	border-bottom: 2px solid #e1e1e1;
}
.date-all .day td{
	width: 44px;
	height: 40px;
	font-size: 14px;
}
.jieri span{
	color: #ff0000;
}
.day td:nth-child(6) p,.day td:nth-child(7) p{
	color: #ff0000;
}
.part-five .checked{
	border: 1px solid #f7d463;
}
.day td{
	border: 1px solid #ffffff;
	cursor: pointer;
}
.day td:hover{
	border: 1px solid #f7d463;
}
.right-part .rank table{
	margin: 18px 40px;
	width: 450px;
	height: 270px;
	border-color: #e1e1e1;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.rank tr td:nth-child(1){
	width: 66px;
}
.rank tr td:nth-child(2){
	width: 90px;
}
.rank tr:nth-child(2){
	background-color: #f3f5f6;	
}
.rank tr:hover{
	background-color: #f3f5f6;	
}
.car{
	margin-bottom: 2px;
	display: inline-block;
	width: 168px;
	height: 4px;
	background-color: #dcdcdc;
}
.part-five .hot{
	display: block;
	z-index: 99;
	margin-bottom: 2px;
	height: 4px;
}
.hot-car1{
	width: 80%;
	background-color: #ed6e52;	
}
.hot-car2{
	width: 70%;
	background-color: #ef804f;	
}
.hot-car3{
	width: 59%;
	background-color: #f19f4f;
}
.part-five .hot-gt{
	background-color: #7fcbf0;
}
.hot-car4{
	width: 53%;
}
.hot-car5{
	width: 47%;
}
.hot-car6{
	width: 43%;
}
.hot-car7{
	width: 40%;
}
.hot-car8{
	width: 34%;
}
.hot-car9{
	width: 30%;
}
.hot-car10{
	width: 27%;
}