*{
	padding: 0px;
	margin: 0px;
}
.wrap{
	display: flex;
	border: 2px solid #666464;
	padding: 0px 20px;
	width: 90%;
	margin: 10px auto;
}
.box1{
	height: 120px;
	width: 150px;
	border: 1px solid #f00;
	margin: 10px 0px;
}
.box2{
	height: 100px;
	width: 150px;
	border: 1px solid #f00;
	margin: 10px 0px;
}
.box3{
	height: 40px;
	width: 150px;
	border: 1px solid #f00;
	margin: 10px 0px;
}
.box4{
	height: 200px;
	width: 150px;
	border: 1px solid #0f0;
	margin: 10px 0px;
}
@media(min-width: 641px){
	.wrap{
		align-items: center;
		justify-content: space-between;
	}
}
@media(max-width: 640px){
	.wrap{
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.box4{
		order: -1;
	}
}