*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}
body{
	width: 768px;
	margin: 0 auto;
	font-family: "微软雅黑";
}
.clear:after{
    content:" ";
    display:block;
    clear:both;
}
.header{
	height: 50px;
	line-height: 50px;
	background: #91d4da;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	position: relative;
}
.header a{
	position: absolute;
	left: 10px;
	height: 100%;
	color: inherit;
	cursor: pointer;
}
.title{
	text-align: center;
}
nav{
	height: 50px;
	line-height: 50px;
}
nav li{
	height: 100%;
	width: 20%;
	float: left;
	text-align: center;
}
nav li a{
	display: block;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	height: 46px;
	color: #656565;
}
nav li a:hover{
	border-bottom: 4px solid #91d4da;
}
img{
	width: 100%;
	height: auto;
}
.tag{
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}
.tag div{
	text-align: center;
}
.tag div p{
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
}
.articleWrap{
    padding:0 10px;
}
.subfieldBox,.moduleBox section{
    display:block;
    border-top:1px solid #ccc;
}
.subfieldBox{
    display:flex;
    padding:20px;
    justify-content:space-around;
    min-height:250px;
}
.subfieldBox section{
   flex:1;
   text-align: center;
}
.subfieldBox section h1{
    font-size:35px;
}
.subfieldBox section h2{
    color:#666666;
    margin:20px 0;
}
.subfieldBox .imageWrap{
    width:115px;
    height:185px;
    display:inline-block;
}
.subfieldBox section:not(:last-child){
    border-right:1px solid #cccccc;
}
.moduleBox header{
    height:80px;
    line-height: 80px;
    margin-top:40px;
}
.moduleBox section{
    padding-top:20px;
}
.moduleBox section section{
    border:none;
    padding:0;
    margin-top:20px;
}
.moduleBox section section .imgWrap{
    border:2px solid #fbb22f;
    width:20%;
    float:left;
}
.moduleBox section section .wordsWrap{
    width:80%;
    float:left;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
}
.moduleBox section section .wordsWrap div{
    width:50%;
    height:75px;
    line-height: 75px;
    text-align: center;
    font-size:30px;
}
.moduleBox section section .imgWrap,.wordsWrap{
    display:inline-block;
}
.article {
    margin:30px auto;
    display:flex;
    width:100%;
}
.article .imgWrap{
    width:25%;
    margin-right:20px;
}
.article section{
    position:relative;
}
.article section h1{
    font-size:22px;
}
.article section span{
    font-size:20px;
    color:#999999;
    position:absolute;
    left:0;
    bottom:0;
}
.article section .imgWrap img{
   width:33.33%;
}
.article section .imgWrap{
    width:100%;
    display:flex;
    justify-content: space-between;
}
@media all and (max-width:768px){
    body{
        width:100%;
    }
}