<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>聊天室</title>
	<style type="text/css" media="screen">
		h1{
			text-align: center;
		}
		.make{
			position: fixed;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}
	</style>
</head>
<body>
	<h1>聊天室,欢迎<span id="user"><%=username%></span></h1>
	<ul class="list">
	</ul>
	<div class="make">
		<input type="text" name="" id="content">
<!-- 		<input type="button" name="" value="express" id="express"> -->
	</div>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/jquery-1.11.2.min.js"></script>
	<script type="text/javascript">
		var socket = io();
		$("#content").keydown(function(e){
			if (e.keyCode == 13) {
				socket.emit("liao",{
					"content":$("#content").val(),
					"person":$("#user").html()
				});
				$(this).val("");
			}
		});
		socket.on("liao",function(msg){
			$(".list").prepend("<li><b>"+msg.person+"</b>"+msg.content+"</li>");
		})
	</script>
</body>
</html>