<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
	<form action="/check" method="get" accept-charset="utf-8">
		<label>输入昵称：</label>
		<input type="text" id="username" name="username">
		<input type="submit" name="" value="进入聊天室">
	</form>
</body>
</html>