<!--
 * @Author: zzj
 * @Date: 2021-03-04 22:06:45
 * @LastEditors: zzj
 * @LastEditTime: 2021-03-28 16:00:22
 * @Description: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>socket</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="isShow">
      <p>昵称:<input type="text" v-model="name"></p>
      <p>房间号:<input type="text" v-model="roomid"></p>
      <button @click="enter">进入聊天室</button>
    </div>
    <div v-else>
      <ul>
        <li v-for="(item,index) in lists" :key="index">{{item}}</li>
        <li>在线人数{{num}}</li>
      </ul>
      <div class="ctrl">
        <input type="text" v-model="message">
        <button @click="send">按钮</button>
      </div>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        message: "",
        lists: [],
        ws: {},
        name: "",
        isShow: true,
        num: 0,
        roomid: "",
        handle: {}
      },
      mounted() {
      },
      methods: {
        init() {
          this.ws = new WebSocket("ws://127.0.0.1:3000")
          this.ws.onopen = this.onOpen
          this.ws.onmessage = this.onMessage
          this.ws.onclose = this.onClose
          this.ws.onerror = this.onError
        },
        enter() {
          if (this.name.trim() === "") {
            alert("用户民不得为空")
            return
          }
          this.init()
          this.isShow = false

        },
        onOpen: function () {

          // console.log("open " + this.ws.readyState)
          // ws.send("hello from client")
          // 发起鉴权请求
          this.ws.send(JSON.stringify({ event: "auth", message: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Imltb29jIiwiaWF0IjoxNTE2MjM5MDIyfQ.KQv-KO2KRPtFP1Hl9h3qyxiko8Czz_7vWVm-5JcyP7k" }))
          this.ws.send(JSON.stringify({
            event: "enter",
            message: this.name,
            roomid: this.roomid
          }))
        },
        onMessage: function (msg) {
          if (this.isShow) {
            return
          }
          const obj = JSON.parse(msg.data)
          switch (obj.event) {
            case "noauth":
              break;
            case "enter":
              this.lists.push(`欢迎${obj.message}加入聊天室`);
              break;
            case "out":
              this.lists.push(`欢迎${obj.name}退出了聊天室`)
              break;
            case "heartbeat":
              this.checkServer()
              this.ws.send(JSON.stringify({
                event: "heartbeat",
                message: "pong"
              }))
              break;
            default:
              if (obj.name !== this.name) {
                this.lists.push(`${obj.name}:${obj.message}`)
              }
              break;
          }
          this.num = obj.num
        },
        onClose: function () {
          console.log("close " + this.ws.readyState)
          this.ws.close()
        },
        onError: function () {
          console.log("error " + this.ws.readyState)
          setTimeout(() => {
            this.init()
          }, 1000)
        },
        send: function () {
          this.lists.push(`${this.name}:${this.message}`)
          this.ws.send(JSON.stringify({
            event: "message",
            message: this.message,
            name: this.name
          }))
          this.message = ""
        },
        checkServer() {
          clearTimeout(this.handle)
          this.handle = setTimeout(() => {
            this.onClose()
            this.init()
          }, 1000 + 500)
        }
      }
    })
  </script>
</body>

</html>